/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=Lato:900,700,400,300';

/* theme: Eat */

//
// Article
//

@article-title-font-weight: 400;

//
// Typography
//

@global-dark-color: #2a2a2a;
@global-primary-color: #87A8BB;
@global-link-color: #8cacbe;
@global-link-hover-color: #648da3;
@global-success-color: #6cb88e;
@global-warning-color: #c9af87;
@global-danger-color: #aa5069;

//
// Backgrounds
//

@global-primary-gradient-top: #8cacbe;
@global-primary-gradient-bottom: #7b9cb0;
@global-success-gradient-top: #82c6a0;
@global-success-gradient-bottom: #5daf82;
@global-warning-gradient-top: #d6bf9b;
@global-warning-gradient-bottom: #c9af87;
@global-danger-gradient-top: #ba5d77;
@global-danger-gradient-bottom: #9f4860;

//
// Base
//

@base-heading-font-family: 'Baskerville';
@base-heading-font-weight: 400;
@base-h4-font-size: round(@global-font-size * 1.312); // 21px

//
// Panel
//

@panel-title-font-size: round(@global-font-size * 1.312); // 21px
@panel-box-primary-background: #9FBBCC;
@panel-title-font-weight: normal;

//
// Navbar
//

@navbar-border: @navbar-background;
@navbar-background: #2A2A2A;
@navbar-nav-hover-background: #363636;
@navbar-nav-color: #B1B1B1;
@navbar-nav-hover-color: #fff;
@navbar-nav-active-color: @global-contrast-color;
@navbar-toggle-color: fade(@global-contrast-color, 50%);
@navbar-toggle-hover-color: @global-contrast-color;

//
// Nav
//

@nav-navbar-color: #B1B1B1;
@nav-navbar-hover-background: rgba(255,255,255, 0.05);
@nav-navbar-hover-color: #f5f5f5;
@nav-navbar-header-color: rgba(255,255,255, 0.8);
@nav-navbar-nested-hover-color: @global-contrast-color;
@nav-search-color: #77797a;
@nav-search-hover-color: #f5f5f5;
@nav-search-active-color: #f5f5f5;
@nav-search-active-background: rgba(255,255,255, 0.05);
@nav-search-header-color: rgba(255,255,255, 0.8);
@nav-dropdown-nested-hover-color: @global-contrast-color;

//
// Dropdown
//

@dropdown-navbar-background: #363636;
@dropdown-navbar-color: #77797a;
@dropdown-navbar-nav-sub-border: rgba(255,255,255,0);
@dropdown-search-background: #2A2A2A;
@dropdown-search-color: @global-color;


// Theme Variables
// ==========================================================================

@theme_global-body-style: 'dove';
@theme_fullscreen-border-top: rgba(0,0,0, 0.8);
@theme_teaser-line-length: 203px;
@theme_teaser-small-line-length: 250px;
@theme_teaser-subtitle-border: rgba(255,255,255,0.6);
@theme_title-line-bottom-border: rgba(255,255,255,0.1);

//
// Bottom
//

@theme_bottom-background: #2A2A2A;
@theme_bottom-border: darken(@theme_bottom-background, 50%);
@theme_panel-header-opacity: 0.5;

@theme_bottom-panel-title-color:                  @global-contrast-color;
@theme_bottom-nested-link-hover-color:            #909397;
@theme_bottom-panel-color:                        #B1B1B1;

@theme_bottom-icon-color:                         @global-contrast-color;
@theme_bottom-icon-hover-color:                   fade(@global-contrast-color, 50%);
@theme_bottom-icon-active-color:                  fade(@global-contrast-color, 30%);

@theme_bottom-form-color:                         rgba(255,255,255,0.55);
@theme_bottom-form-focus-color:                   rgba(255,255,255,0.7);
@theme_bottom-form-background:                    rgba(255,255,255,0.1);
@theme_bottom-form-border-color:                  rgba(255,255,255,0);
@theme_bottom-form-focus-background:              rgba(255,255,255,0.2);
@theme_bottom-form-focus-border-color:            rgba(255,255,255,0);
@theme_bottom-form-placeholder-color:             rgba(255,255,255,0.4);

@theme_dropdown-form-color:                       rgba(255,255,255,0.55);
@theme_dropdown-form-focus-color:                 rgba(255,255,255,0.7);
@theme_dropdown-form-background:                  rgba(255,255,255,0.1);
@theme_dropdown-form-border-color:                rgba(255,255,255,0);
@theme_dropdown-form-focus-background:            rgba(255,255,255,0.2);
@theme_dropdown-form-focus-border-color:          rgba(255,255,255,0);
@theme_dropdown-form-placeholder-color:           rgba(255,255,255,0.3);
@theme_dropdown-list-link-color:                  rgba(255,255,255,0.35);
@theme_dropdown-list-link-hover-color:            @global-contrast-color;