#jform_params_mvisadurations,#jform_params_mvisatypes,#jform_params_mvisaposttypes,#jform_params_mvisaproductiontimes,#jform_params_mvisaprices-lbl,#jform_params_mvisaprices {display:none;}
#hcalbus_showresults td {border: 1px solid black;text-align:center;padding:5px;}
#hcalbus_showresults .icon-apply {color:green;}
#hcalbus_showresults .icon-cancel {color:red;}
#hcalbus_showresults .icon-apply, #hcalbus_showresults .icon-cancel {cursor:pointer;}
#hcalbus_showresults tr:hover td, #hcalbus_showresults tr.selected td {background-color: #ddd;}