/* -- General styles ------------------------------ */

.jevlocations {
	margin: 10px!important; 
	padding: 0!important;
	background: #fff!important;
	padding-bottom: 1px!important;

	font-size: 11px!important;
}

.jevlocations body, .jevlocations td, .jevlocations th, .jevlocations tr { font-family: Arial, Helvetica, sans-serif!important; border:none;}

.jevlocations a:link    { color: #0B55C4!important; text-decoration: none!important; }
.jevlocations a:visited { color: #0B55C4!important; text-decoration: none!important; }
.jevlocations a:hover   { text-decoration: underline!important; }

.jevlocations #toolbar-box 			{ background: #fbfbfb; margin-bottom: 10px; display:block;}
.jevlocations div.header {
	font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
	padding-left: 55px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.jevlocations div.header span { color: #666; }

.jevlocations div.toolbar { float: right; text-align: right; padding: 0; }

.jevlocations table.toolbar    			 { border-collapse: collapse; padding: 0; margin: 0;	 }
.jevlocations table.toolbar td 			 { padding: 1px 1px 1px 4px; text-align: center; color: #666; height: 48px; }
.jevlocations table.toolbar td.spacer  { width: 10px; }
.jevlocations table.toolbar td.divider { border-right: 1px solid #eee; width: 5px; }

.jevlocations table.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; }

.jevlocations table.toolbar a {
   display: block; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

.jevlocations table.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}

.jevlocations table.admintable td 					 { padding: 3px; }
.jevlocations table.admintable td.key,
.jevlocations table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.jevlocations table.admintable td.key.vtop { vertical-align: top; }

.jevlocations table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
.jevlocations table.adminform.nospace { margin-bottom: 0; }
.jevlocations table.adminform tr.row0 { background-color: #f9f9f9; }
.jevlocations table.adminform tr.row1 { background-color: #eeeeee; }

.jevlocations table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
.jevlocations table.adminform td { padding: 3px; text-align: left; }

.jevlocations table.adminform td.filter{
	text-align: left;
}

.jevlocations table.adminform td.helpMenu{
	text-align: right;
}


.jevlocations fieldset.adminform { border: 1px solid #ccc; margin: 0 10px 10px 10px; }

/** Table styles **/

.jevlocations table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

.jevlocations table.adminlist td,
.jevlocations table.adminlist th { padding: 4px; }

.jevlocations table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

.jevlocations table.adminlist thead a:hover { text-decoration: none; }

.jevlocations table.adminlist thead th img { vertical-align: middle; }

.jevlocations table.adminlist tbody th { font-weight: bold; }

.jevlocations table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
.jevlocations table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

.jevlocations table.adminlist tbody tr.row0:hover td,
.jevlocations table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

.jevlocations table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
.jevlocations table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

.jevlocations table.adminlist tfoot tr { text-align: center;  color: #333; }
.jevlocations table.adminlist tfoot td,
.jevlocations table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

.jevlocations table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
.jevlocations table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

.jevlocations table.adminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

/** toolbar icons **/
div.toolbar-list {
    float: right;
    padding: 0;
    text-align: right;
}
div.toolbar-list ul {
    margin: 0;
    padding: 0;
}
div.toolbar-list li {
    color: #666666;
    float: left;
    height: 48px;
    list-style: none outside none;
    padding: 1px 1px 3px 4px;
    text-align: center;
}
div.toolbar-list li.spacer {
    width: 10px;
}
div.toolbar-list li.divider {
    border-right: 1px solid #C7C7C7;
    width: 2px;
}
div.toolbar-list span {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}
div.toolbar-list a {
    border: 1px solid #F4F4F4;
    cursor: pointer;
    display: block;
    float: left;
    padding: 1px 5px;
    text-decoration: none;
    white-space: nowrap;
}
div.toolbar-list a:hover {
    border-color: #EEEEEE #CCCCCC #CCCCCC #EEEEEE;
    border-style: solid;
    border-width: 1px;
    color: #0B55C4;
    text-decoration: none;
}

.icon-32-send 			{ background-image: url(../images/icon-32-send.png); }
.icon-32-delete 		{ background-image: url(../images/icon-32-delete.png); }
.icon-32-help 			{ background-image: url(../images/icon-32-help.png); }
.icon-32-cancel 		{ background-image: url(../images/icon-32-cancel.png); }
.icon-32-config 		{ background-image: url(../images/icon-32-config.png); }
.icon-32-apply 		{ background-image: url(../images/icon-32-apply.png); }
.icon-32-back			{ background-image: url(../images/icon-32-back.png); }
.icon-32-forward		{ background-image: url(../images/icon-32-forward.png); }
.icon-32-save 			{ background-image: url(../images/icon-32-save.png); }
.icon-32-edit 			{ background-image: url(../images/icon-32-edit.png)!important; }
.icon-32-copy 			{ background-image: url(../images/icon-32-copy.png); }
.icon-32-move 			{ background-image: url(../images/icon-32-move.png); }
.icon-32-new 			{ background-image: url(../images/icon-32-new.png); }
.icon-32-upload 		{ background-image: url(../images/icon-32-upload.png); }
.icon-32-assign 		{ background-image: url(../images/icon-32-publish.png); }
.icon-32-html 			{ background-image: url(../images/icon-32-html.png); }
.icon-32-css 			{ background-image: url(../images/icon-32-css.png); }
.icon-32-menus 			{ background-image: url(../images/icon-32-menu.png); }
.icon-32-publish 		{ background-image: url(../images/icon-32-publish.png); }
.icon-32-unpublish 	{ background-image: url(../images/icon-32-unpublish.png);}
.icon-32-restore		{ background-image: url(../images/icon-32-revert.png); }
.icon-32-trash 		{ background-image: url(../images/icon-32-trash.png); }
.icon-32-archive 		{ background-image: url(../images/icon-32-archive.png); }
.icon-32-unarchive 	{ background-image: url(../images/icon-32-unarchive.png); }
.icon-32-preview 		{ background-image: url(../images/icon-32-preview.png); }
.icon-32-default 		{ background-image: url(../images/icon-32-default.png); }

/** header icons **/
.icon-48-generic 		{ background-image: url(../images/icon-48-generic.png); }
.icon-48-checkin 		{ background-image: url(../images/icon-48-checkin.png); }
.icon-48-cpanel 		{ background-image: url(../images/icon-48-cpanel.png); }
.icon-48-config 		{ background-image: url(../images/icon-48-config.png); }
.icon-48-module 		{ background-image: url(../images/icon-48-module.png); }
.icon-48-menu 			{ background-image: url(../images/icon-48-menu.png); }
.icon-48-menumgr 		{ background-image: url(../images/icon-48-menumgr.png); }
.icon-48-trash 		{ background-image: url(../images/icon-48-trash.png); }
.icon-48-user	 		{ background-image: url(../images/icon-48-user.png); }
.icon-48-inbox 		{ background-image: url(../images/icon-48-inbox.png); }
.icon-48-msgconfig 	{ background-image: url(../images/icon-48-message_config.png); }
.icon-48-langmanager { background-image: url(../images/icon-48-language.png); }
.icon-48-mediamanager{ background-image: url(../images/icon-48-media.png); }
.icon-48-plugin 	{ background-image: url(../images/icon-48-plugin.png); }
.icon-48-help_header { background-image: url(../images/icon-48-help_header.png); }
.icon-48-impressions { background-image: url(../images/icon-48-stats.png); }
.icon-48-browser 		{ background-image: url(../images/icon-48-stats.png); }
.icon-48-searchtext 	{ background-image: url(../images/icon-48-stats.png); }
.icon-48-thememanager{ background-image: url(../images/icon-48-themes.png); }
.icon-48-massemail 	{ background-image: url(../images/icon-48-massemail.png); }
.icon-48-frontpage 	{ background-image: url(../images/icon-48-frontpage.png); }
.icon-48-sections 	{ background-image: url(../images/icon-48-section.png); }
.icon-48-addedit 		{ background-image: url(../images/icon-48-article-add.png); }
.icon-48-article 		{ background-image: url(../images/icon-48-article.png); }
.icon-48-categories 	{ background-image: url(../images/icon-48-category.png); }
.icon-48-install 		{ background-image: url(../images/icon-48-extension.png); }
.icon-48-dbbackup		{ background-image: url(../images/icon-48-backup.png); }
.icon-48-dbrestore 	{ background-image: url(../images/icon-48-dbrestore.png); }
.icon-48-dbquery 		{ background-image: url(../images/icon-48-query.png); }
.icon-48-systeminfo 	{ background-image: url(../images/icon-48-info.png); }
.icon-48-massemail 	{ background-image: url(../images/icon-48-massmail.png); }

a.saveorder {
	width: 16px;
	height: 16px;
	display:block;
	overflow: hidden;
	background: url(../images/filesave.png) no-repeat;
	float:right;
	margin-right: 8px;
}

a img {border:none;}

/* Tool bar in Joomla 3.0 */
.jevlocations #toolbar .btn-wrapper {
	display: inline-block;
	margin-right:5px;
}
.icon-48-jevents {
	width:inherit!important;
	background: url('../../../../com_jevents/assets/images/logo.gif') transparent no-repeat;
	padding-left:265px!important;
	line-height:48px!important;
	height:48px!important;
}
.jev_loc_notice {
	display: none;
	padding: 10px;
	border: 1px solid red;
	background-color: rgba(255, 19, 19, 0.58);
	color: #FFF;
	margin: 0 0 15px 0;
	font-weight: bold;
}