.icon-48-hotes {
      background-image: url(../images/l_hotes.png);
      padding-left:60px!important;
}

.icon-48-hotel {
      background-image: url(../images/l_hotes.png);
      padding-left:60px!important;
}

.color-box-hotes { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}