<div style="margin:3px;">
	<h3>{{Location Title:JEVLOCATION_TITLE}}</h3>

	<fieldset class="adminform">
		{{Location Street:JEVLOCATION_STREET# %s <br />#}}
		{{Location City:JEVLOCATION_CITY# %s <br />#}}
		{{Location State:JEVLOCATION_STATE# %s <br />#}}
		{{Location Postcode:JEVLOCATION_POSTCODE# %s <br />#}}
		{{Location Country:JEVLOCATION_COUNTRY# %s <br />#}}
		{{Location Phone:JEVLOCATION_PHONE# %s <br />#}}
		{{Location Url:JEVLOCATION_URL# %s <br />#}}
		{{Location Url Active:JEVLOCATION_URL_ACTIVE# %s <br />#}}
		{{Location Image:JEVLOCATION_IMAGE# %s <br />#}}<
		{{Location Description:JEVLOCATION_DESCRIPTION#<br />%s <br />#}}
	</fieldset>

	<fieldset class="adminform">
		<legend>Google Map</legend>
		Click map for directions:<br/><br/>
		{{Location Map:JEVLOCATION_MAP}}
	</fieldset>

	<fieldset class="adminform">
		<legend>Upcoming Events</legend>
		{{Upcoming Events:JEVLOC_UPCOMING}}
	</fieldset>
</div>