.mod_events_table{border:1px
solid #222;text-align:center;font-style:normal;text-decoration:none;margin:0px
auto 0.25em auto}.mod_events_td_title{font-weight:bold;color:#000;text-decoration:underline}.mod_events_td_dayname{font-weight:bold;color:Black}.mod_events_td_dayname
.sunday{color:red}.mod_events_td_dayname
.saturday{}.mod_events_td_dayoutofmonth{font-weight:bold;color:Gray;background-color:#FFE4C4}.mod_events_td_todaynoevents{font-weight:normal;color:Black;background-color:#FFA07A}.mod_events_td_todaywithevents{font-weight:normal;color:Black;background-color:#B0C4DE}.mod_events_td_daynoevents{line-height:normal;font-weight:normal;color:Black}.mod_events_td_daywithevents{font-weight:normal;color:Black;background-color:#B0C4DE}a.mod_events_daylink:link{color:Black;text-decoration:none}a.mod_events_daylink:visited{color:blue;text-decoration:none}a.mod_events_daylink:hover{color:Silver;text-decoration:none}.mod_events_td_link{background-color:Background}a.mod_events_link:link{color:Black}a.mod_events_link:visited{color:Navy}a.mod_events_link:hover{color:Silver}.mod_events_monthyear{border:1px
solid #222;margin:0.25em auto 0px auto;cursor:pointer;height:18px}.mod_events_monthyear
td{text-align:center!important}.mod_events_monthyear a.mod_events_link, .mod_events_monthyear a.mod_events_link:visited, .mod_events_monthyear a.mod_events_link:visited{font-weight:bold;color:Black;background-color:inherit;text-decoration:none}.mod_events_latest_first,.mod_events_latest{background-color:#fff;border-style:solid;border-width:0px 0px 1px 8px;padding:0px
0px 2px 2px}.jevbootstrap .mod_events_latest_date , .jevbootstrap
.mod_events_latest_content{line-height:14px;margin-top:1px;vertical-align:text-top}.jevbootstrap [class^="icon-"], .jevbootstrap [class*=" icon-"]{margin-right:3px}