#flexicontent
.clear{border:0;clear:both;float:none;font-size:1px;height:0;line-height:1px;margin:0;padding:0;visibility:hidden}#flexicontent .floattext:after{content:".";display:block;height:0;clear:both;visibility:hidden}#flexicontent
.floattext{display:block}#flexicontent
.buttons{float:right}#flexicontent .buttons>a>img{}#flexicontent .buttons>a{}#flexicontent
h2{}#flexicontent h2
img{border:none}#flexicontent
.catimg{margin:0
0.5em 0.5em 0;float:left;position:relative}#flexicontent .catimg
p{font-size:0.9em;line-height:180%;margin:0
0 0.5em 0}#flexicontent
.catdescription{margin:0
0 0.5em 0}#flexicontent
.subcategories{border-bottom:2px solid #ddd;padding:0.5em 0.3em;margin:0.8em 0}#flexicontent
.taglist{margin:5px
0 10px;padding:0
5px}div.subcategorieslist{margin:0
0 1em 0}#flexicontent
#fc_filter{margin:0
0 1em 0;padding:0.5em;border:solid 1px #ddd}#flexicontent
.fc_fleft{float:left}#flexicontent
.fc_fright{float:right}#flexicontent .fc_fright
.filter{margin-left:10px}div.comments{margin-top:15px}.comments #jc
h4{font-weight:normal;color:inherit;margin-top:0px}.comments #comments
a{color:inherit}.comments #comments a:hover{color:#578E13}.comments #comments div.comments-list{margin-left:0}.comments .rbox_tr,
.comments .rbox_tl,
.comments .rbox_t,
.comments .rbox_br,
.comments .rbox_bl,
.comments .rbox_b,
.comments
.rbox_m{background:none;border:none}.comments
.rbox{border:1px
#ccc solid}.comments .even
.rbox{background:#fff}.comments .odd
.rbox{background:#f0f0f0}.comments #comments-list-footer{margin:0
0 10px 0}#comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error{margin-left:0px !important}#comments-form #comments-form-message, #comments-inline-edit #comments-form-message{padding:5px
5px 5px 25px;display:block}.comments-form-message-error{background:#FFD86F url("/components/com_flexicontent/templates/blog/images/error.png") no-repeat 4px 50%}.comments-form-message-info{background:#DFEEFF url("/components/com_flexicontent/templates/blog/images/information.png") no-repeat 4px 50%}#flexicontent ul.leadingblock,
#flexicontent
ul.introblock{margin:0;padding:0}#flexicontent ul.leadingblock>li{margin:0px
0px 12px 0px;padding:12px
0px 0px 0px;border-top:1px dashed darkgray;background:none;width:100%;min-height:10px;display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;_height:10px;line-height:inherit}#flexicontent ul.introblock>li{margin:0px
0px 12px 0px;padding:12px
0px 0px 0px;border-top:1px dashed darkgray;background:none;width:100%;min-height:10px;display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;_height:10px;line-height:inherit}#flexicontent ul.leadingblock.two > li,
#flexicontent ul.introblock.two>li{width:48.6%;margin-left:1%}#flexicontent ul.leadingblock.three > li,
#flexicontent ul.introblock.three>li{width:31.6%;margin-left:1%}#flexicontent ul.leadingblock.four > li,
#flexicontent ul.introblock.four>li{width:23.4%;margin-left:1%}@media only screen and (min-width: 960px) and (max-width: 1160px){}@media only screen and (min-width: 768px) and (max-width: 959px){#flexicontent ul.leadingblock.two > li,
#flexicontent ul.introblock.four>li{width:31.6%;margin-left:1%}}@media only screen and (min-width: 480px) and (max-width: 767px){#flexicontent ul.leadingblock.three > li,
#flexicontent ul.leadingblock.four > li,
#flexicontent ul.introblock.three > li,
#flexicontent ul.introblock.four>li{width:48.2%;margin-left:1%}}@media only screen and (max-width: 479px){#flexicontent ul.leadingblock.two   > li,
#flexicontent ul.leadingblock.three > li,
#flexicontent ul.leadingblock.four  > li,
#flexicontent ul.introblock.two   > li,
#flexicontent ul.introblock.three > li,
#flexicontent ul.introblock.four>li{width:100%;margin-left:0%}}#flexicontent figure.image.right,
#flexicontent
div.image.right{float:right !important;margin:8px
2px 0px 10px !important;width:auto !important}#flexicontent figure.image.left,
#flexicontent
div.image.left{float:left !important;margin:8px
10px 0px 2px !important;width:auto !important}#flexicontent figure.image.right img,
#flexicontent figure.image.left img,
#flexicontent div.image.right img,
#flexicontent div.image.left
img{padding:1px;border:1px
solid lightgray}#flexicontent
.lineinfo{display:block;float:left;clear:both;margin:0
0 0.5em 0;*width:100%}#flexicontent
.lineinfo{vertical-align:middle}#flexicontent .lineinfo
.element{display:block;float:left;margin-right:10px}#flexicontent .lineinfo .element
.label{border-bottom:1px dashed silver;color:#555;font-size:90%;margin-right:8px}#flexicontent .lineinfo .element,
#flexicontent .lineinfo .element .label,
#flexicontent .lineinfo .element
.value{display:inline-block;float:left;min-width:90px}#flexicontent
.readmore{display:inline-block;float:left;clear:both}#fc_alpha .btn.fc_alpha_index,
#fc_alpha
.btn.fc_alpha_index_sep{margin-top:0;margin-bottom:0}.group:before,.group:after{content:" ";display:table}.group:after{clear:both}.group{*zoom:expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");*zoom:1}