/** header icons **/
.icon-48-jevlocations {
	background: url('../../../../../components/com_jevents/assets/images/JeventsTransparent.png') transparent no-repeat;
	background-size: 220px 48px;
	padding-left:265px!important;
	line-height:48px;
	height: 48px;
	width: auto;
}

table.admintable td.key {min-width:200px;}
/*
table.admintable input, table.admintable label {
	float:none;
	display:inline;
}
*/
/* Front end admin styling */
table.toolbar td.button {
	background-image:none;
	background-color:transparent;
	border:0px;
}

input#jevsearch {
	float:none;
	height:16px;
	width:150px;
	margin-bottom:3px;
}

.jevloc-col-disabled{
    color: #999;
}
div.icon span {
	display: block !important;
}
div.icon {
	padding:5px;
	border:2px solid #ededed !important;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}
.radiobtn, .admintable tr td input {
	display:inline;
	min-width:10px !important;

}
.admintable tr td label {
	display:inline;
	float:none !important;
}
.admintable tr td input {
	float:none !important;
}
input.ordering_box {
	text-align: center;
}
fieldset.btn-grp {
	border: none;
	margin: 0px;
	padding: 0px;
}


.admintable input {
	max-width: 90%;
}
.locmap fieldset {
	margin:10px;
	padding:10px;
}

/*Joomla not providing save as copy icon for the frontend*/
.icon-32-save-copy {
    background-image: url("../images/icon-32-save-copy.png");
}

ul#sortableLocations{
	cursor: grab;
	list-style: none;
	margin:0;
	padding:0;
}
.ui-state-highlight {
	height: 30px;
	line-height: 36px;
	border: rgb(190,30,45);
	background-color: rgba(190,30,45,0.3);
}

.sortabletrash{
	cursor: pointer;
	display: inline;
	margin-left: 5px;
	line-height: 16px;
}
li[class*="sortableloc"]{
	background-image: none;
	list-style-type: none;
	padding-left: 0;
}