/* 
    Document   : jevcustom
    Created on : 22-Apr-2013, 14:12:51
    Author     : Tony Partridge - GWE Systems Ltd
    Description: To allow customisation of CSS Strings where they can never be lost.
    Purpose of the stylesheet follows.
*/
.event_img {
    float: left;
    width: 210px;
    height: 210px;
    margin: 5px;
    text-align: center;

}
.event_left
{
    padding-left: 20px;
    padding-top: 10px;
}
.event_title {
    padding-bottom: 10px;
    padding-left: 10px;
}
.event_data {
    font-size: 40px;
    line-height: 40px;
}
.event_expo_img {
    width: 160px;
margin:0 auto;
    padding-top: 5px;
}

.ev_td_li {
    float: left;
}
.event_expo_title {
}
.event_expo_title2 {
  width: 30%;
    float: left;
height: 150px;
    background-color: #fff;
}
.event_expo_logo {
  width: 70%;
    float: left;
height: 150px;
    background-color: #fff;
    text-align: center;

}

.event_expo {
    float: left;
    width: 14%;
    text-align: center;
    padding-left: 13px;
}

.evet_desc { 
text-align: justify;
}

.event_1 {
    float: left;
    width: 6%;
   text-align: center;
}
.event_2 {
    float: left;
    width: 55%;
    margin-left: 10px;
}
