.icon-48-hotels {
      background-image: url(../images/l_hotels.png);
      padding-left:60px!important;
}

.icon-48-hotel {
      background-image: url(../images/l_hotels.png);
      padding-left:60px!important;
}

