body{background-color:#fff;} 
h1 { color:#313131; font-weight:normal; font-size:22px; text-transform:uppercase; margin:0px; margin-bottom:0px; padding:0px; padding-bottom:10px; padding-right:10px; display:inline-block; float:left } 
h2 { font-size:14px; text-transform:uppercase; font-weight:normal; color:#484848; margin:0px; margin-bottom:10px; padding:0px; } 
h3 { color:#d6833a; font-weight:bold; font-size:14px; margin:0px; padding:0px; } 
a { cursor:pointer;   color:#fca43a;   text-decoration:none;   border:none; } 
.acymailing_unsub {color:#8a8a8a;   text-decoration:none;   background-color:#eaeaea;   cursor:pointer;} 
.acymailing_online {color:#8a8a8a;   text-decoration:none;   background-color:#eaeaea;   cursor:pointer;} 
.acymailing_content {color:#797979; margin-bottom:10px} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#333;} 
a img{ border:0px; text-decoration:none;} 


body {
	
	color:#8a8a8a;
}
table, div, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}

	


.orange{color:#fca43a}
.menulinks a{color:#808080}
.footerlinks a{color:#dfdfdf}

/*responsive template*/

@media (max-width:480px){
.w600 { width:320px !important;}
.w600 img {max-width:320px !important; height:auto !important; float:none !important; margin:0px !important}
h2{margin:10px 0px !important}
.w540 { width:260px !important;}
.w540 img {max-width:260px !important; height:auto !important; float:none !important; margin:0px !important}
.w30 { width:30px !important;}
}

@media (min-width: 480px) and (max-width: 600px){
.w600 { width:480px !important;}
.w600 img {max-width:480px !important; height:auto !important;}
.w540 { width:420px !important;}
.w540 img {max-width:420px !important; height:auto !important;}
.w30 { width:30px !important;}
        }

@media (min-width:600px){
.w600 { width:600px !important;}
.w600 img {max-width:600px !important; height:auto !important;}
.w540 { width:540px !important;}
.w540 img {max-width:540px !important; height:auto !important;}
.w30 { width:30px !important;}
}


