body{background-color:#3a464a;} 
h1 { font-size:20px;   font-weight:bold;   margin:0px;   text-transform:uppercase;   padding:0px;   color:#376c7a !important; } 
h2 { font-size:14px; font-weight:bold; color:#333333 !important; text-transform:uppercase; margin:0px; margin-bottom:15px; padding:0px; padding-bottom:4px; } 
h3 { color:#376c7a !important; font-weight:normal; font-size:16px; margin:0px; padding:0px; } 
a { cursor:pointer;   color:#1ba4c8;   text-decoration:underline;   border:none; } 
.acymailing_unsub {color:#b3c8ca !important;   cursor:pointer;   padding:2px 5px;} 
.acymailing_online {color:#b3c8ca !important;   cursor:pointer;   padding:2px 5px;} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#fff; background-color:#313131; padding:3px 6px;} 
a img{ border:0px; text-decoration:none;} 

body{}        
a img{ border:0px; text-decoration:none;} 

body {
	
}
table, div, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}







	





p{margin:0px; padding:0px}
.footer_links a{color:#333; text-decoration:none}

/*responsive template*/

@media (max-width:480px){
.w600{ width:300px !important; }
.w550{ width:280px !important; }
.w25{ width:10px !important; }
.w550 img {max-width:280px; height:auto !important;}
.w600 img {max-width:300px; height:auto !important;}
}

@media (min-width: 480px) and (max-width: 600px){
.w600{ width:450px !important; }
.w550{ width:430px !important; }
.w25{ width:10px !important; }
.w550 img {max-width:430px; height:auto !important;}
.w600 img {max-width:450px; height:auto !important;}
}

@media (min-width:600px){
.w600{ width:600px !important; }
.w550{ width:550px !important; }
.w25{ width:25px !important; }
.w550 img {max-width:550px !important;  height:auto !important;}
.w600 img {max-width:600px !important; height:auto !important;}
}




