body{background-color:#fff;} 
h1 { font-size:24px;   margin:15px 0px 5px 0px;   padding:0px;   font-weight:bold;   color:#ac0141 !important; } 
h2 { font-size:14px; font-weight:bold; color:#595959 !important; text-transform:uppercase; margin:10px 0px; padding:0px; padding-bottom:8px; border-bottom:1px solid #ddd } 
h3 { color:#535353 !important; font-weight:bold; font-size:18px; margin:0px; padding:0px; } 
a { cursor:pointer;   color:#b20238;   text-decoration:none;   border:none; } 
.acymailing_unsub {color:#858585 !important;   cursor:pointer;   padding:2px 5px;} 
.acymailing_online {color:#858585 !important;   cursor:pointer;   padding:2px 5px;} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#fff; background-color:#bb023e; padding:3px 6px;} 
a img{ border:0px; text-decoration:none;} 

body{}        
a img{ border:0px; text-decoration:none;} 

body {
	
}
table, div, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}







	





p{margin:0px; padding:0px}


/*responsive template*/

@media (max-width:480px){
.w600{ width:320px !important; }
.w600 img {max-width:320px !important; height:auto !important;}
}

@media (min-width: 480px) and (max-width: 600px){
.w600{ width:480px !important; }
.w600 img {max-width:480px !important; height:auto !important;}
}

@media (min-width:600px){
.w600 { width:600px !important; }
.w600 img {max-width:600px !important;  height:auto !important;}
}



