body{background-color:#ecede8;} 
h1 { color:#fff; font-weight:bold; font-size:18px; text-transform:uppercase; margin:0px; margin-bottom:10px; padding:0px; padding-bottom:10px; } 
h2 { font-size:16px;  font-weight:bold; text-transform:uppercase; font-weight:normal; color:#484848; margin:0px; margin-bottom:10px; padding:0px; } 
h3 { color:#6b6969; font-weight:bold; font-size:12px; margin:0px; padding:0px; } 
a { cursor:pointer;   color:#045e92;   text-decoration:underline;   border:none; } 
.acymailing_unsub {color:#045e92;   text-decoration:underline;   cursor:pointer;} 
.acymailing_content {color:#797979; margin-bottom:10px} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#db8866;} 
.acymailing_online {color:#88a1a6;   text-decoration:underline;   cursor:pointer;} 
a img{ border:0px; text-decoration:none;} 
body {
	
	color:#8a8a8a;
}
table, div, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}





	







/*responsive template*/

@media (max-width:480px){
.w600 { width:320px !important;}
.w600 img {max-width:320px !important; height:auto !important; float:none !important; margin:0px !important}
.w540 { width:260px !important;}
.w540 img {max-width:260px !important; height:auto !important; float:none !important; margin:0px !important}
.w400{width:320px}
.w150{width:320px;}
.w30 { width:30px !important;}
h2{margin:10px 0px !important}
}

@media (min-width: 480px) and (max-width: 600px){
.w600 { width:480px !important;}
.w600 img {max-width:480px !important; height:auto !important;}
.w540 { width:420px !important;}
.w540 img {max-width:420px !important; height:auto !important;}
.w400{width:480px}
.w150{width:480px;}
.w30 { width:30px !important;}
        }

@media (min-width:600px){
.w600 { width:600px !important;}
.w600 img {max-width:600px !important; height:auto !important;}
.w540 { width:540px !important;}
.w540 img {max-width:540px !important; height:auto !important;}
.w400{width:400px}
.w150{width:150px;}
.w30 { width:30px !important;}
}



