body{background-color:#C2C5C5;} 
h1 { color:#D3D3D3; font-size:12px; } 
h2 { color:#AEA351 !important; font-size:14px; } 
.acymailing_unsub {color: #5C5C5C;font-weight: bold;} 
.acymailing_online {color: #5C5C5C;font-weight: bold;} 
a img{ border:0px; text-decoration:none;} 


td img {display: block;}td img {display: block;}
body {
	
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}




