body{background-color:#1c4d51;} 
h1 { font-weight:bold;   margin:0px;   margin-bottom:10px;   font-size:18px;   color:#139fab;   padding:0px; } 
h2 { font-weight:bold;   margin:0px;   margin-bottom:10px;   font-size:18px;   color:#139fab;   padding:0px;   padding-bottom:5px;   border-bottom:1px solid #ddd; } 
h3 { font-size:16px;   font-weight:bold;   color:#a2b807;   margin:0px;   padding:0px; } 
a { cursor:pointer;   color:#71a904;   text-decoration:none;   border:none; } 
.acymailing_readmore {cursor:pointer;} 
a img{ border:0px; text-decoration:none;} 

body{}      
a img{ border:0px; text-decoration:none;} 
body {
	
	color:#666666;
}
table, div, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}






.acymailing_online, .acymailing_forward{
	color:#bddce0;
	font-size:11px; cursor:pointer;}
	

p {
	padding:0px;
	margin:0px;
}

.date{
	color:#7a8915;
	font-weight:bold;
	font-size:14px;}

.acymailing_unsub, .footerlinks a{color:#666; font-size:11px; cursor:pointer; text-decoration:none}

@media (max-width:480px) {
.w600 {width:320px !important;}
.w540 {width:300px !important;}
.w30 {width:10px !important;}
.w600 img {max-width:320px !important; height:auto !important;}
.w540 img {max-width:300px !important; height:auto !important;}
}


@media (min-width: 480px) and (max-width: 600px) {
.w600{width:480px !important;}
.w540{width:460px !important;}
.w30{width:10px !important;}
.w600 img {max-width:480px !important; height:auto !important;}
.540 img {max-width:460px !important; height:auto !important;}
}


@media (min-width:600px) {
.w600{width:600px !important;}
.w540{width:540px !important;}
.w30{width:30px !important;}
.w600 img {max-width:600px !important; height:auto !important;}
.540 img {max-width:540px !important; height:auto !important;}
}




