body{background-color:#EEEEEE;} 
h1 { font-size:18px;font-weight:bold; } 
h2 { color:#555555 !important;font-size:16px;font-weight:bold; } 
a {  color:#003399; } 
a img{ border:0px; text-decoration:none;} 
