/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.10
 * @author     acyba.com
 * @copyright  (C) 2009-2019 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

a{
	position: relative;
}

.overviewbubble{
	display: block !important;
	font-weight: normal;
	color: white;
	width: 22px;
	height: 22px;
	position: absolute;
	text-align: center;
	z-index: 10;
	top: -10px;
	left: -10px;
	border-radius: 50%;
	line-height: 22px;
	font-size: 10px;
	border: 2px solid rgba(255,255,255,0.5);
	transform: scale(0);

	-webkit-animation: bubbleappear 1s 1 1s forwards;
	-moz-animation: bubbleappear 1s 1 1s forwards;
	animation: bubbleappear 1s 1 1s forwards;
}

@-webkit-keyframes bubbleappear {
	0%{
		transform: scale(0);
	}100%{
		 transform: scale(1);
	 }
}

@-moz-keyframes bubbleappear {
	0%{
		transform: scale(0);
	}100%{
		 transform: scale(1);
	 }
}

@keyframes bubbleappear {
	0%{
		transform: scale(0);
	}100%{
		transform: scale(1);
	}
}
