/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.10
 * @author     acyba.com
 * @copyright  (C) 2009-2019 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_color_black.css");




#acyarchivelisting .inputbox:hover, #acyuserinfo .inputbox:hover{
	border:1px solid #aca489!important;
	border-bottom: 1px solid #777059!important;
	border-right: 1px solid #777059!important;
	}


#acyarchivelisting .contentpane tbody .button, #acymodifyform .button, #unsubbutton_div .button {
	color:#fff !important;
	background-color:#777059 !important;
}

#acyarchivelisting .contentpane tbody .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover {
    color:#fff!important;
	background-color:#aca489 !important;
}
	

#acyarchivelisting .contentheading{
	color: #777059;
	border-bottom:1px solid #777059;
}


#acyarchivelisting .contentpane .contentdescription{
	color:#aca489;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#777059;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#777059;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#aca489;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1{
	background-color:#ece9e0}
#acyarchivelisting .contentpane tbody .sectiontableentry1:hover{
	background-color:#e8e4d6}
	
#acyarchivelisting .contentpane tbody .sectiontableentry2{
	background-color:#f2f0e8}
#acyarchivelisting .contentpane tbody .sectiontableentry2:hover{
	background-color:#e8e4d6}


#acyarchiveview .contentheading{
	color:#aca489;}
	
	



#acylistslisting .componentheading{
	color:#777059;
	border-bottom:1px solid #777059;
}

#acylistslisting .list_name a{
    color:#aca489;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#aca489;
}

div.acymailing_list:hover{
	background-color:#f2f0e8}


#acymodifyform legend{
	color:#777059;
	border-bottom:1px solid #777059;
}

#acyusersubscription th{
	color:#fff;
	background-color:#777059;}
	
	
#acyusersubscription .list_name{
    color: #aca489;
}
	


#unsubpage .unsubintro{
	border-bottom: 1px solid #777059;
    color: #777059;}
	
#unsubpage .unsubsurveytext{
   	border-bottom: 1px solid #777059;
    color: #777059;
}



