/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.10
 * @author     acyba.com
 * @copyright  (C) 2009-2019 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default.css");


	

#acyarchivelisting .inputbox, #acyuserinfo .inputbox{
	color:#666;
	border:1px solid #ddd;
	padding: 2px;}
	
#acyarchivelisting .inputbox:hover, #acyuserinfo .inputbox:hover{
	border:1px solid #999!important;
	border-bottom: 1px solid #333!important;
	border-right: 1px solid #333!important;
	}


#acyarchivelisting .inputbox:focus, #acyuserinfo .inputbox:focus{
	border:1px solid #bbb !important;}



#acyarchivelisting .contentpane tbody .button, #acymodifyform .button, #unsubbutton_div .button {
	color:#fff !important;
	padding: 2px !important;
	margin-right:5px !important;
	background:none !important;
	border:none !important;
	border:1px solid #ddd !important;
	background-color:#000 !important;
}

#acyarchivelisting .contentpane tbody .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover {
    color:#fff!important;
	background-color:#666 !important;
}
	


#acyarchivelisting table{
	border:0px !important;}
	
#acyarchivelisting .contentheading{
	color:#000;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #000;
	padding-bottom:4px;
}

#acyarchivelisting .contentpane form{
	background-color: #FFFFFF;
    border-style: solid;
	border-color:#ccc;
    border-width: 1px;
    padding: 10px;
}


#acyarchivelisting .contentpane .contentdescription{
	color:#666;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}

#acyarchivelisting .acynewbutton a:hover, #acyarchivelisting .acynewbutton a:focus{
	background-color:transparent;
	color:#cf5402;
}

#acyarchivelisting .sectiontableheader{
	color:#333;
	padding-top:25px;}

#acyarchivelisting .contentpane thead{
	border-bottom:1px solid #ccc;
	height:30px;
}

#acyarchivelisting .contentpane tbody{
	color:#333;
}

#acyarchivelisting .sectiontableheader a{
	color:#333;
	text-decoration:none;
	background-color:transparent;
	font-weight:bold;
	font-size:12px;
}

#acyarchivelisting .sectiontableheader a:hover{
	background-color:transparent;
	color:#000;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1{
	text-align:center;
	height:30px;
	background-color:#eeeded;
	border-bottom:1px solid #fff;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1:hover{
	text-align:center;
	height:30px;
	background-color:#e6e6e6;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a{
	text-decoration:none;
	color:#666;
	background-color:transparent;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#000;
	background-color:transparent;
	text-decoration:underline;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2{
	text-align:center;
	height:30px;
	background-color:#f5f5f5;
	border-bottom:1px solid #fff;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2:hover{
	text-align:center;
	height:30px;
	background-color:#e6e6e6;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a{
	text-decoration:none;
	color:#666;
	background-color:transparent;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#000;
	background-color:transparent;
	text-decoration:underline;
}


#acylistslisting .componentheading{
	color:#000;
	font-weight:bold;
	border-bottom:1px solid #000;
	margin-bottom:10px;
	font-weight:bold;
	font-size:16px;
	padding-bottom:4px;
}

#acylistslisting .list_name a{
	background-color: transparent;
    color:#666;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	text-decoration:underline;
	background-color:transparent;
	color:#666;
}


#acylistslisting .list_description{
	color:#333;
	padding:0px;
}

#acylistslisting p{
	line-height: 15px;
    margin: 3px 0;}
    

div.acymailing_list:hover{
	background-color :#f5f5f5;
}

#acylistslisting .contentpane thead td{
	padding-top:20px;
}

#acylistslisting div.acymailing_list{
    border:none;
	border-bottom:1px solid #ccc;
    margin: 0px;
    padding-top: 10px;
}


#acyusersubscription th{
	color:#fff;
	padding: 4px 5px;
	background-color:#000;}

#acyusersubscription tr{
	border-bottom:1px solid #ccc !important;}

#acyusersubscription .acystatus{
	padding-top:20px;
	padding-bottom: 25px;
}


#acymodifyform .adminform{
	color:#666;
	text-align:left;
}

#acymodifyform fieldset{
	padding:0px;
}


#acyuserinfo{
	background-color:#fff;
	border:1px solid #ccc;
}

#acyuserinfo #trname td{
	padding-top:10px;}
	
#acyuserinfo #trplus td{
	padding-bottom:10px;}


#acyuserinfo select{
	border:1px solid #dcc2b2;}
	
#acyuserinfo .key{
	color:#666;
	font-weight:bold;
	font-size:11px;
	padding-left:20px;
}

#acyusersubscription{
	background-color:#FFF;
	border:1px solid #ccc;
}

#acymodifyform legend{
	color:#000;
	font-size:16px;
	font-weight:bold;
	padding:0px;
	border-bottom:1px solid #000;
	margin-bottom:20px;
	padding-bottom:4px;
}

#acyuserinfo input{
	margin:0 5px;
}


#acyusersubscription .list_name{
	border-bottom: 1px solid #dddddd;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding-top: 20px;
    text-align: left;
}

#acyusersubscription .list_description{
	text-align:left;
	font-size:12px;
	color:#333;
	padding:0px;
	padding-top:5px;
}

#acymodifyform .acymodifybutton{
	text-align:center;
}
	

#unsubpage{
padding: 20px;
font-size:11px;
border:1px solid #ccc;}

#unsubpage .unsubsurvey, #unsubpage .unsubintro{
	padding:0px;}
	
#unsubpage input{
	margin-right:5px;}
	
#unsubpage .unsubintro{
	border-bottom: 1px solid #000;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 0 4px;}

#unsubpage .unsuboptions{
	padding:0px;}


#unsubpage .unsubsurveytext{
   	border-bottom: 1px solid #000;
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 4px;
}

#unsubpage .unsuboptions div{
	font-size: 11px;
    margin-top: 6px;
	font-weight:normal;
}

#unsubpage .unsubsurvey div{
	font-size: 11px;
    margin-top: 6px;
	font-weight:normal;
}


#unsubpage .unsubsurvey textarea{
	margin-top:15px;
	border:1px solid #ccc;
	width:100%;
	margin-bottom: 10px;
	background-color::#fff;
}

#unsubpage .unsubsurvey textarea:hover{
	border:1px solid #aaa;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}


#unsubpage .input{
	padding-right:10px;
}

#unsubbutton_div{
	text-align:center;
}


#acyarchiveview{
	border:1px solid #ccc;
	padding:10px;}

#acyarchiveview .contentheading{
	font-weight:bold;
	color:#000;
	font-size:16px;}


#acyuserinfo .invalid{
border:1px solid #999 !important;}


