/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.10
 * @author     acyba.com
 * @copyright  (C) 2009-2019 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_color_black.css");




#acyarchivelisting .inputbox:hover, #acyuserinfo .inputbox:hover{
	border:1px solid #588896!important;
	border-bottom: 1px solid #235563!important;
	border-right: 1px solid #235563!important;
	}


#acyarchivelisting .contentpane tbody .button, #acymodifyform .button, #unsubbutton_div .button {
	color:#fff !important;
	background-color:#235563 !important;
}

#acyarchivelisting .contentpane tbody .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover {
    color:#fff!important;
	background-color:#588896 !important;
}
	

#acyarchivelisting .contentheading{
	color: #235563;
	border-bottom:1px solid #235563;
}


#acyarchivelisting .contentpane .contentdescription{
	color:#588896;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#588896;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#588896;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#588896;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1{
	background-color:#ecf2f5}
#acyarchivelisting .contentpane tbody .sectiontableentry1:hover{
	background-color:#e3e9ec}
	
#acyarchivelisting .contentpane tbody .sectiontableentry2{
	background-color:#f4f8f9}
#acyarchivelisting .contentpane tbody .sectiontableentry2:hover{
	background-color:#e3e9ec}


#acyarchiveview .contentheading{
	color:#588896;}
	
	



#acylistslisting .componentheading{
	color:#235563;
	border-bottom:1px solid #235563;
}

#acylistslisting .list_name a{
    color:#588896;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#588896;
}

div.acymailing_list:hover{
	background-color:#f4f8f9}


#acymodifyform legend{
	color:#235563;
	border-bottom:1px solid #235563;
}

#acyusersubscription th{
	color:#fff;
	background-color:#235563;}
	
	
#acyusersubscription .list_name{
    color: #588896;
}
	


#unsubpage .unsubintro{
	border-bottom: 1px solid #235563;
    color: #235563;}
	
#unsubpage .unsubsurveytext{
   	border-bottom: 1px solid #235563;
    color: #235563;
}



