/**
 * @package    AcyMailing for Joomla!
 * @version    5.10.10
 * @author     acyba.com
 * @copyright  (C) 2009-2019 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default.css");



.acymailing_module .inputbox{
	color:#666 !important;
	border:1px solid #ddd !important;
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	margin-right: 10px!important;
		padding: 3px !important;
background-image: linear-gradient(bottom, rgb(235,235,235) 21%, rgb(255,255,255) 58%) !important;
background-image: -o-linear-gradient(bottom, rgb(235,235,235) 21%, rgb(255,255,255) 58%) !important;
background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 21%, rgb(255,255,255) 58%) !important;
background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 21%, rgb(255,255,255) 58%) !important;
background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 21%, rgb(255,255,255) 58%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ) !important;  	background: radial-gradient(top, ellipse cover, #e7e7e7 0%,#666 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#666',GradientType=1 ) !important; }

.acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active {
	color:#fff !important;
	border:1px solid #999999 !important;
	-moz-border-radius:5px !important;
	padding: 3px !important;
	text-shadow:1px 1px 1px #666 !important;
	margin-right:5px !important;
	background-color:#CCC !important;

background-image: radial-gradient(top, #f5f5f5  21%, #999999 58%) !important;
background-image: -o-radial-gradient(top, #f5f5f5 21%, #999999 58%) !important;
background-image: -moz-radial-gradient(top, #f5f5f5 21%, #999999 58%) !important;
background-image: -webkit-radial-gradient(top, #f5f5f5 21%, #999999 58%) !important;
background-image: -ms-radial-gradient(top, #f5f5f5 21%, #999999 58%) !important;

	background: -ms-radial-gradient(top, ellipse cover, #f5f5f5 0%,#999999 100%); 	background: radial-gradient(top, ellipse cover, #f5f5f5 0%,#999999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#999999',GradientType=1 ) !important; }


.acymailing_module_form td{
	padding-bottom:0px;}


.acymailing_module .acyfield_html {
	display:inline-block;
	padding-right:10px !important;}



.acymailing_module .acymailing_mootoolsbutton p{
	text-align:left;}

.acymailing_module a.acymailing_togglemodule{
	display:inline;
		font-size: 13px;
		font-weight: bold;}


.acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited{
	text-decoration:none !important;
	display:inline-block !important;}

.acymailing_module table.acymailing_form {
	margin:0px;}

.acymailing_module .acymailing_module_form td{
	padding-bottom:8px;}


.acymailing_form {
	margin:0px;}

.acymailing_form label{
	margin-right:10px;
	}

.acymailing_module .acymailing_module_form td{
	padding-bottom:8px;}



.acymailing_module .acymailing_module_form .acymailing_lists a:link, .acymailing_module .acymailing_module_form .acymailing_lists a:visited{
	color:#000;
	text-decoration:none;}

.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#666!important;
	text-decoration:underline !important;
	background-color:transparent !important;}

.acymailing_module .acymailing_module_form .acymailing_lists .acymailing_checkbox{
	margin-right:10px;}


.acymailing_module_form .acymailing_form a:link{
	background-color:transparent;
	color:#000;
	text-decoration:none;}


.acymailing_module .acyfield_html input{
	margin-right:10px;
	margin-left:10px;
	border:none !important;
	background:none !important;
	filter:none !important;}

.acymailing_form .checkbox{
	border: none !important;
	background:none !important;
	filter: none !important;}

.acymailing_module .invalid{
border:1px solid #999 !important;}


