/* 
 * @author      Carlos Cámara (aka carcam)
 * @package     JEvents
 * @copyright   Copyright (C) 2006-2015 JEvents Project Group
 * @license     GNU/GPLv2, see http://www.gnu.org/licenses/gpl-2.0.html
*/
.mod-jevloc-item{
	padding-top: 20px
}
.mod-jevloc-item:first-child{
	padding-top: 0
}


