.fc-close{color:#000;float:right;font-size:20px;font-weight:bold;line-height:18px;opacity:0.2;text-shadow:0 1px 0 #FFF;margin-top:-2px}.fc-close:hover{color:#000 !important;cursor:pointer;opacity:0.4;text-decoration:none;background:none !important}.fc-mssg-inline,.fc-mssg{border:1px
solid !important;display:block;margin:0
0 5px 0 !important;padding:8px
10px 12px 36px !important;border-radius:6px !important;font-family:tahoma;font-size:11px;white-space:normal;line-height:140%}.fc-mssg-inline{display:inline-block;margin:0
0 0 12px !important;max-width:62%}.fc-mssg-inline.fc-nobgimage,.fc-mssg.fc-nobgimage{background-image:none !important;padding:8px
!important}.fc-mssg-inline.fc-note,.fc-mssg.fc-note{background:#FCF8E3 url("/components/com_flexicontent/assets/images/note.gif") no-repeat 10px 50%;color:#C09853 !important;border-color:#FBEED5 !important}.fc-mssg-inline.fc-error,.fc-mssg.fc-error{background:#F2DEDE url("/components/com_flexicontent/assets/images/error.png") no-repeat 10px 50%;color:#B94A48 !important;border-color:#EED3D7 !important}.fc-mssg-inline.fc-warning,.fc-mssg.fc-warning{background:#FCF8E3 url("/components/com_flexicontent/assets/images/warning.png") no-repeat 10px 50%;color:#C09853 !important;border-color:#FBEED5 !important}.fc-mssg-inline.fc-success,.fc-mssg.fc-success{background:#DFF0D8 url("/components/com_flexicontent/assets/images/accept.png") no-repeat 10px 50%;color:#468847 !important;border-color:#D6E9C6 !important}.fc-mssg-inline.fc-info,.fc-mssg.fc-info{background:#D9EDF7 url("/components/com_flexicontent/assets/images/information.png") no-repeat 10px 50%;color:#3A87AD !important;border-color:#BCE8F1 !important}.alert.fc-error{background:#F2DEDE url("/components/com_flexicontent/assets/images/error.png") no-repeat 10px 50%;padding-left:36px !important}.alert.fc-warning{background:#FCF8E3 url("/components/com_flexicontent/assets/images/warning.png") no-repeat 10px 50%;padding-left:36px}.alert.fc-success{background:#DFF0D8 url("/components/com_flexicontent/assets/images/accept.png") no-repeat 10px 50%;padding-left:36px}.alert.fc-info{background:#D9EDF7 url("/components/com_flexicontent/assets/images/information.png") no-repeat 10px 50%;padding-left:36px}.fc-noauth{display:inline-block;background:#FCF8CA url("/components/com_flexicontent/assets/images/warning.png") no-repeat 10px 50%;color:#C09853 !important;border:1px
solid #FBEED5 !important;border-radius:6px !important;padding:3px
6px 4px 36px !important;margin:0
0 5px 0 !important;font-family:tahoma;font-size:11px;white-space:normal;line-height:140%}.fc-caption{display:inline-block;background:lightgray url("/components/com_flexicontent/assets/images/comment.png") no-repeat 10px 50%;color:black !important;border:1px
solid #ddd !important;border-radius:6px !important;padding:3px
6px 4px 36px !important;margin:0
0 5px 0 !important;font-family:tahoma;font-size:11px;white-space:normal;line-height:140%}ul.statetoggler{vertical-align:top;display:inline-block !important;list-style:none !important;margin:0
4px !important;padding:0
!important;width:auto !important}ul.statetoggler>li.topLevel>.options{padding:0px
!important;margin:0
!important;background:white !important;position:absolute !important;font-size:14px !important;width:auto !important;height:0}ul.statetoggler>li.topLevel>.options>div{display:inline-block !important;padding:0px
4px}ul.statetoggler > li.topLevel > .options
    ul{display:inline-block !important;padding:0
!important;margin:0
!important;background:white !important;border:1px
solid silver !important;width:auto !important}ul.statetoggler > li.topLevel, .statetoggler > li.topLevel ul>li{background:none repeat scroll 0 0 transparent !important;overflow:visible !important;min-height:20px !important;width:auto !important;display:-moz-inline-stack !important;display:inline-block !important;vertical-align:top !important;padding:0
!important;margin:0
!important;zoom:1 !important;*display:inline !important;_height:20px !important}ul.statetoggler > li.topLevel span.btn, ul.statetoggler > li.topLevel
span.fcbutton{padding-left:4px;padding-right:4px}ul.statetoggler > li.topLevel, .statetoggler > li.topLevel ul > li
a{padding:0
!important;margin:0
!important}ul.statetoggler > li.topLevel ul > li
           img{padding:2px
!important;margin:0
!important}ul.statetoggler>li.topLevel>a.opener{}ul.statetoggler > li.topLevel > a.opener
                                                 img{padding:2px
0px !important;margin:0
!important}#fc_pager
           ul.pages{float:left;left:50%;list-style-type:none;margin:0
auto;padding:0;position:relative}#fc_pager ul.pages
                                 li{float:left;position:relative;right:50%;margin-left:5px;padding:2px
4px;border:1px
solid #ddd;list-style:none;text-decoration:none}#fc_pager ul.pages li:hover{border:1px
solid #aaa}#fc_pager ul.pages
           li.pgEmpty{border:1px
solid #ddd;color:#ddd}#fc_pager ul.pages
                      li.pgCurrent{border:1px
solid #aaa;color:#000;font-weight:bold;background-color:#eee}.fc_nice_box{border-radius:6px;margin:0px
0px 8px 0px;padding:2px
1%;float:none;clear:both !important;border:1px
solid lightgray;display:inline-block;background-color:lightyellow;font-weight:bold;font-size:11px}.tabberlive
                                                                                                  .tabbertabhide{display:none}.fctabber{}.tabberlive{margin-top:1em}ul.tabbernav{margin:0;padding:3px
0;border-bottom:1px solid #778;font:bold 12px Verdana, sans-serif}ul.tabbernav
                                                                  li{list-style:none;margin:10px
2px 0px 2px;display:inline-block;white-space:nowrap}ul.tabbernav li
                                                    a{padding:3px
0.5em;margin-left:3px;border:1px
solid #778;border-bottom:none;background:#DDE;text-decoration:none;font-size:11px}ul.tabbernav li a:link{color:#448}ul.tabbernav li a:visited{color:#667}ul.tabbernav li a:hover{color:#000;background:#AAE;border-color:#227}ul.tabbernav li.tabberactive
                                                                                                                                                                                                                              a{background-color:#fff;border-bottom:1px solid #fff}ul.tabbernav li.tabberactive a:hover{color:#000;background:white;border-bottom:1px solid white}.tabberlive
                                                                                                                                                                                                                                                                                                                                                                                  .tabbertab{padding:5px;border:1px
solid #aaa;border-top:0}.tabberlive .tabbertab
                        h2.tabberheading{display:none !important}.tabberlive .tabbertab
                                                                 h3.tabberheading{display:none !important}.tabberlive#tab1{}.tabberlive#tab2{}.tabberlive#tab2
                                                                                                                                              .tabbertab{height:200px;overflow:auto}#flexicontent
                                                                                                                                                                                    .tabberlive{margin:0px
0px 6px 0px !important;padding:0px
!important;width:100% !important;float:left;border-width:0px}#flexicontent
                                                             .tabbertab{margin:0px
!important;padding:5px
3px 3px 5px !important;width:99% !important;float:left}#flexicontent
                                                       .fctabber{overflow:visible;width:5000px}#flexicontent
                                                                                               ul.tabbernav{line-height:100% !important;border-bottom:1px solid #808080 !important;margin:0
!important;padding:0px
6px 0px 4px !important;width:99% !important;display:inline-block !important;float:left}#flexicontent ul.tabbernav
                                                                                       li{line-height:100% !important;padding:0px
!important;margin:4px
0px -1px 8px !important;overflow:visible !important;display:inline-block !important;float:left}#flexicontent ul.tabbernav li
                                                                                               a{line-height:160% !important;font-size:11px !important;margin:0px
!important;padding-left:5px;padding-right:5px;padding-top:4px !important;padding-bottom:5px !important;display:inline-block !important;border-radius:3px 3px 0px 0px !important;border-left:1px solid #D0D0D0;border-top:1px solid #B0B0B0;border-right:1px solid #808080;border-bottom:1px solid #808080}#flexicontent ul.tabbernav li
                                                                                                                                                                                                                                                                                                          a{background:none repeat scroll 0 0 #3276B1;color:white}#flexicontent ul.tabbernav li:hover
                                                                                                                                                                                                                                                                                                                                                                  a{background:none repeat scroll 0 0 #5bb75b;border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #ccc;color:white}#flexicontent ul.tabbernav li.tabberactive a,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           #flexicontent ul.tabbernav li.tabberactive a:hover{color:black !important;background-color:white !important;border-bottom:1px solid white !important;border-left:1px solid #D0D0D0;border-top:1px solid #B0B0B0;border-right:1px solid #808080}#flexicontent{}.link_categories{word-break:break-all}.fcclear,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               #flexicontent .fcclear,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               #flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .clear{border:0;clear:both;float:none;font-size:1px;height:0;line-height:1px;margin:0;padding:0;visibility:hidden}#flexicontent .floattext:after{clear:both;content:".";display:block;height:0;visibility:hidden}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .floattext{display:block;margin:0
0 0.5em}#flexicontent
        .fcright{float:right;margin-left:8px}#flexicontent
                                             .fcleft{float:left;margin-right:8px}#flexicontent
                                                                                 .fceven{background-color:#e7e7e7}#flexicontent
                                                                                                                  .fcodd{background-color:#f2f2f2}.fc_mini_note_box{font-size:11px;background-color:lightyellow;border:1px
solid lightgray;border-radius:6px;width:auto;padding:2px
2%;margin:2px
8px}#flexicontent
    .buttons{display:block !important;float:right !important;margin:0px
!important;padding:0px
!important}#flexicontent .fc_editbutton,
           #flexicontent .buttons>a{text-decoration:none;margin:0px
    4px}#flexicontent .fc_editbutton,
        #flexicontent .buttons>a.btn{margin:0px
    4px}#flexicontent .fc_editbutton > img,
        #flexicontent .buttons>a>img{border:none !important;vertical-align:top !important;margin:2px
    6px 0px 0px !important}#flexicontent .fc_editbutton>img{margin-top:0px !important}#flexicontent .fc_editbutton,
                                                                                      #flexicontent .buttons>a:not(.btn){height:1.4em;line-height:1.4em;padding:0
    0 0 5px}.fc_bigbutton{padding:2px
!important;margin-right:4px !important;border:1px
outset gray !important;background:#e0e0e0 !important;text-align:center;display:block}.fc_bigbutton:hover{border-style:inset !important;text-decoration:none}.fc_comments_count{background:url("/components/com_flexicontent/assets/images/comments.png") no-repeat !important;color:green;padding-left:20px;height:16px;margin:5px
5px 0px 0px;float:left}.fc_comments_count_nopad{background:url("/components/com_flexicontent/assets/images/comments.png") no-repeat !important;color:green;padding-left:20px;height:16px;margin:0px
5px 0px 0px;float:left}.fc_edit_link{float:left;margin:5px
0px 0px 0px}.fc_edit_link_nopad{float:left;margin:0px
0px 0px 0px}.fc_state_toggle_link{float:left;margin:5px
0px 0px 5px}.fc_state_toggle_link_nopad{float:left}#flexicontent
                                                   h2{}#flexicontent h2
                                                       img{border:none}#flexicontent
                                                                       .fc_item_title{text-decoration:none}#flexicontent
                                                                                                           .pagination{text-align:center}#flexicontent
                                                                                                                                         .pageslinks{text-align:center}#flexicontent .pageslinks
                                                                                                                                                                       ul{text-align:center}#flexicontent .pageslinks ul li
                                                                                                                                                                                            a{text-decoration:none}#flexicontent
                                                                                                                                                                                                                   .pagescounter{text-align:center}#flexicontent
                                                                                                                                                                                                                                                   .catimg{float:left;margin:0
0.5em 0.5em 0;position:relative}#flexicontent .catimg
                                p{font-size:0.9em;line-height:180%;margin:0
0 0.5em 0}#flexicontent .catimg
          img{padding:1px;border:1px
solid lightgray;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}#flexicontent
                                                                                   .catdescription{margin:0
0 0.5em 0}#flexicontent .subcategorieslabel,
          #flexicontent
          .peercategorieslabel{display:inline-block !important;margin:0px
    0px 6px;font-weight:bold;border-bottom:1px dashed gray}#flexicontent .subcategorieslist,
                                                           #flexicontent
                                                           .peercategorieslist{margin:0
    0 1em 0}#flexicontent .subcat,
            #flexicontent
            .peercat{margin:0px}div
                                table.adminform{font-size:11px;background-color:#FFF;border:1px
solid #D5D5D5;border-collapse:collapse;margin:8px
0 15px;width:100%}div table.adminform
                  td{font-size:11px;padding:2px
2px;text-align:left;border:0px
solid}#flexicontent
      table.flexitable{border:1px
solid #e5e5e5;border-collapse:collapse;clear:both;font-size:1em;margin:1em
1px;width:99%}#flexicontent table.flexitable
              th{background-color:#efefef;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;color:#000;font-weight:bold;font-size:11px;padding:0.4em;text-align:left}#flexicontent table.flexitable th.table-titles{background-color:inherit;font-weight:normal}#flexicontent table.flexitable th
                                                                                                                                                                                                                                                                             img{border:none;margin:0
0 5px 5px;vertical-align:middle}#flexicontent table.flexitable
                                td{border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;padding:0.1em;vertical-align:top}#flexicontent table.flexitable tr.sectiontableentry2
                                                                                                                                   td{background:#f4f4f4}#flexicontent table.flexitable tr:hover td,
                                                                                                                                                         #flexicontent table.flexitable tr:hover
                                                                                                                                                         th{background:#f8f8f8}#flexicontent
                                                                                                                                                                               #fc_filter_box{display:block;clear:both;border:solid 0px #ddd;margin:0px
0px 12px 0px;padding:0%;width:100%}fieldset.fc_filter_set{background:#6682A1;border:2px
solid #ccc;margin:0px;padding:1%;width:98%;min-width:inherit !important;display:block}#fc_filter_form_blocker{display:none;z-index:1000;position:fixed;top:0;left:0;width:100%;height:100%}#fc_filter_form_blocker
                                                                                                                                                                                           .fc_blocker_opacity{display:block;z-index:1000;position:absolute;top:0;left:0;opacity:0.3;filter:alpha(opacity=30);background-color:#000;width:100%;height:100%}#fc_filter_form_blocker
                                                                                                                                                                                                                                                                                                                                                           .fc_blocker_content{display:block;z-index:1001;position:fixed;top:200px;left:40%;color:black;background:white url("/components/com_flexicontent/assets/images/ajax-loader.gif") 30px 40px no-repeat;opacity:1;filter:alpha(opacity=100);width:auto;padding:40px
0px 46px 60px;margin:0px;font-size:12px;font-weight:bold;border:1px
solid lightgray;border-radius:8px;text-align:left}#fc_filter_form_blocker
                                                  .fc_blocker_bar{display:block;width:200px;height:22px;border:1px
solid #111;background-color:#292929;position:relative;left:-30px;top:6px}#fc_filter_form_blocker .fc_blocker_bar
                                                                         div{display:block;height:100%;color:#fff;text-align:right;line-height:22px;width:0;background-color:#09f}.fc_filter_set
                                                                                                                                                                                  legend{width:auto !important;border:0px
solid !important;padding:0px
!important;margin:0px
!important}.fc_filter_set legend
           .fc_legend_text{background:transparent;border:1px
solid lightgray !important;color:gray !important;display:block;margin:0
0 5px 0 !important;padding:8px
10px 8px 10px !important;border-radius:6px !important;display:inline-block !important;line-height:0.5em !important;position:relative !important;top:0px !important}.fc_filter_set legend
                                                                                                                                                                   .fc_legend_text.hasTip{background:lightyellow url("/components/com_flexicontent/assets/images/note.gif") no-repeat 10px 50%;border:1px
solid lightgray !important;color:gray !important;display:block;margin:0
0 5px 0 !important;padding-left:36px !important;border-radius:6px !important}.fc_filter_set legend .fc_legend_text
                                                                             span{font-weight:bold !important;font-size:12px !important;padding:0px
!important;margin:0px
!important;display:inline-block !important;line-height:1em !important}.fc_filter_set .fc-mssg.fc-info{margin:4px
16px 16px 16px !important;font-size:12px}.ui-autocomplete-loading{background:#eee url("/components/com_flexicontent/assets/images/ajax-loader.gif") no-repeat 96% center !important}.fc_filter_text_search{}.fc_range{background:url("/components/com_flexicontent/assets/images/arrow_double.png") no-repeat scroll 0px 0px transparent !important;width:16px !important;height:16px !important;border:0px
solid !important;padding:0px
!important;margin:0px
0px 0px 2px !important;display:inline-block !important;vertical-align:middle !important}.fc_filter_html .input-append,
                                                                                        .fc_filter_html .input-prepend{margin:0px
    4px 0px 0px !important}.fc_filter_html .input-append button,
                           .fc_filter_html .input-prepend
                           button{margin-top:6px !important}.fc_filter_html .input-append button.btn,
                                                            .fc_filter_html .input-prepend
                                                            button.btn{margin-top:3px !important}.fc_delall_filters{background:url("/components/com_flexicontent/assets/images/delete.png") no-repeat scroll 0px 0px transparent !important;width:16px !important;height:16px !important;border:0px
solid !important;padding:0px
!important;margin:4px
0px -4px 0px !important;display:inline-block !important;vertical-align:baseline !important}.fc_filter,.fc_filter_line{display:inline;float:left;white-space:normal;border:0px
solid lightgray;border-radius:2px}.fc_filter{clear:none;margin:0px
2px 2px 0px;padding:1px
0% 1px 0%;width:auto;position:relative}.fc_filter_line{margin:0px
0% 1px 0%;padding:0px
1%}form>.fc_filter_line{margin:0px
1% 0px 1%;width:96%}.fc_filter .fc_filter_tip_inline,
                    .fc_filter .fc_filter_label_inline,
                    .fc_filter_line .fc_filter_tip_inline,
                    .fc_filter_line
                    .fc_filter_label_inline{color:#FFF;display:inline-block;font-size:10.998px;font-weight:bold;line-height:14px;padding:3px
    4px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);vertical-align:baseline;white-space:nowrap;border-radius:4px;margin:0px
    2px 2px 4px !important}.fc_filter .fc_filter_label_inline,
                           .fc_filter_line
                           .fc_filter_label_inline{background-color:#555}.fc_filter .fc_filter_tip_inline,
                                                                         .fc_filter_line
                                                                         .fc_filter_tip_inline{background-color:darkgray}.fc_filter .fc_filter_label,
                                                                                                                         .fc_filter_line
                                                                                                                         .fc_filter_label{float:left !important;display:inline-block !important;color:white !important;background-color:#555 !important;border-bottom:1px solid #D0D0D0 !important;border-right:1px solid #D0D0D0 !important;font-weight:normal !important;font-size:12px !important;font-family:georgia,arial!important;text-align:right !important;border-radius:6px !important;text-shadow:2px 4px 3px rgba(0,0,0,0.3)}.fc_filter
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          .fc_filter_label{clear:both;width:auto !important;max-width:150px !important;padding:3px
4px !important;margin:2px
8px 3px 8px !important}.fc_filter_line
                       .fc_filter_label{clear:none;width:15% !important;max-width:200px !important;padding:6px
1% !important;margin:2px
2px 0px 0px !important;text-align:left !important}.fc_filter.fc_even,#field_field23{width:8%}.fc_filter .fc_filter_html,
                                                                                             .fc_filter_line
                                                                                             .fc_filter_html{display:inline-block;float:left;font-size:90%;padding:0px
    0% 0px 0% !important;margin:0px
    0% 0px 0% !important}.fc_filter_html{position:relative !important}.fc_filter_line.fc_clear_label
                                                                      .fc_filter_label{width:auto !important}.fc_filter_line.fc_clear_label
                                                                                                             .fc_filter_html{clear:both;width:100% !important}.fc_filter_html
                                                                                                                                                              .calendar{vertical-align:bottom;margin:0px
6px 9px 2px;cursor:pointer}.fc_filter_html .calendar:hover{border:1px
solid darkred}.fc_filter_html
              .fc_filter_element{display:inline-block;white-space:nowrap;position:relative}.fc_field_filter label, .flexicontent
.fc_field_filter{font-size:11px !important}.fc_filter_html .fc_text_filter,
                                           .fc_filter_html
                                           .fc_field_filter{color:black !important;font-size:11px !important;font-weight:normal !important;display:inline-block !important;padding:2px
    0px 2px 4px !important;margin:2px
    0px 2px 4px !important;border-radius:5px !important;-moz-border-radius:5px !important;-webkit-border-radius:5px !important;width:auto !important}.fc_filter_html input.fc_text_filter,
                                                                                                                                                     .fc_filter_html input.fc_field_filter,
                                                                                                                                                     .fc_filter_html input.fc_text_filter:focus,
                                                                                                                                                     .fc_filter_html input.fc_field_filter:focus{height:14px !important;padding:6px
    6px 7px 4px !important;margin:3px
    4px 4px 8px !important;position:relative;border:1px
    solid black !important;background:url("/components/com_flexicontent/assets/images/magnifier-left.png") 96% 4px no-repeat white;opacity:0.5;filter:alpha(opacity=50);min-width:120px !important;vertical-align:middle}input.fc_text_filter:not(.fc_iscalendar),input.fc_text_filter:not(.fc_iscalendar):focus,input.fc_field_filter:not(.fc_iscalendar),input.fc_field_filter:not(.fc_iscalendar):focus{min-width:90% !important}input.fc_text_filter.fc_iscalendar,input.fc_field_filter.fc_iscalendar{min-width:60px !important}.fc_filter_text_search{}.fc_filter_id_26{}.fc_filter_id_19{width:10%}form.fc_instant_filter{display:block;margin:0px
!important;padding:0px
!important;position:relative !important}select.fc_field_filter{margin:2px
2px 2px 2px !important}input.fc_text_filter{vertical-align:top}input.fc_field_filter{vertical-align:top}span.fc_field_filter{border-width:0px !important}ul.fc_field_filter.fc_checkradio_group{margin:2px
0px 2px 2px !important;padding:3px
4px 3px 2px !important;height:auto !important;max-height:auto !important;position:static !important;float:left !important;text-align:left !important}ul.fc_field_filter.fc_checkradio_group
                                                                                                                                                     label{margin:6px
6px 4px 0px !important;display:inline-block}.fc_has_inner_label,.fc_has_inner_prompt{color:gray !important;position:absolute !important;display:block;*line-height:1.5em !important;*height:1.5em !important;padding:0px
0px 0px 4px;font-size:12px}.fc_has_inner_label.fc_has_inner_label_input,.fc_has_inner_prompt.fc_has_inner_prompt_input{left:14px !important;top:10px !important;color:black !important;line-height:1em !important;padding:0px
0px 0px 4px !important}.fc_has_inner_label.fc_has_inner_label_select2,.fc_has_inner_prompt.fc_has_inner_prompt_select2{left:4px !important;top:8px !important;*top:4px !important}.fc_filter_html .select2-search-choice div,
                                                                                                                                                                                  .select2-container .select2-choice.fc_highlight span,.fc_highlight{color:darkorange !important;font-weight:bold !important}.select2-container .select2-choice.fc_highlight_disabled span,.fc_highlight_disabled{color:gray !important;font-weight:normal !important;text-decoration:line-through !important;font-style:italic !important}#fc_alpha{clear:both;float:left;margin:0
0 12px 0;overflow:hidden;width:100%}#fc_alpha
                                    .aichargrp{clear:both;float:left;left:50%;margin-bottom:5px;margin-left:auto;margin-right:auto;position:relative}#fc_alpha .letters, #fc_alpha
.numbers{}#fc_alpha
          .fc_alpha_index{background:#efefef;border:1px
solid #c0c0c0;border-radius:6px;float:left;margin-right:2px;padding:6px;position:relative;right:50%;text-decoration:none}#fc_alpha
                                                                                                                         span.fc_alpha_index{color:#c0c0c0}#fc_alpha
                                                                                                                                                           .fc_alpha_index_sep{background:none;border:0px
solid silver;float:left;margin-right:0px;padding:1px
0px;position:relative;right:50%;text-decoration:none}#fc_alpha
                                                     .fc_alpha_index.current{margin-left:12px;margin-right:12px;color:darkred}#flexicontent
                                                                                                                              .item_total{border:1px
solid lightgray;margin:0px
0px 12px 0px;padding:1px
1%;width:98%;clear:both;float:left}#flexicontent .item_total
                                   .fc_item_total_data{display:inline-block;float:left;padding:8px
0px 5px}#flexicontent .item_total
        .flexi.item_total_label{display:inline-block !important;float:left !important;font-weight:bold !important;margin-right:6px !important;margin-top:0px !important}#flexicontent .fc_limit_selector
                                                                                                                                                                        .flexi.limit_override_label{display:inline-block !important;float:left !important;font-weight:bold !important;margin-right:4px !important;margin-top:8px !important}#flexicontent .item_total
                                                                                                                                                                                                                                                                                                                                            .flexi.item_total_value{display:inline-block !important;float:left !important;margin-right:24px !important}#flexicontent .item_total .fc_limit_label,
                                                                                                                                                                                                                                                                                                                                                                                                                                                       #flexicontent .item_total
                                                                                                                                                                                                                                                                                                                                                                                                                                                       .fc_orderby_label{display:inline-block;float:left;margin-top:4px;margin-bottom:4px}#flexicontent .item_total
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          .fc_pages_counter{display:inline-block;float:right;padding:8px
4px}#flexicontent
    .fc_field_container{display:block;white-space:nowrap;float:left}#flexicontent
                                                                    .fc_field_label{float:left;border-bottom:1px solid silver;color:#777;font-size:90%;margin-right:8px;display:block}#flexicontent
                                                                                                                                                                                      .fc_field_value{float:left}fieldset.flexiaccess
                                                                                                                                                                                                                 legend{background:url("/administrator/components/com_flexicontent/assets/images/toggle_blue.png") no-repeat 98% 50%;padding-right:22px;line-height:18px;cursor:pointer}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                        .qf_ratingbarcontainer{border:1px
solid #999;display:block;height:10px;margin:2px
2px;width:60px}#flexicontent
               .qf_ratingbar{background-color:#c0c0c0;display:block;height:10px}.fav-block{clear:both}.fav-block
                                                                                                      img{vertical-align:middle}.favlink{outline:none}.fcfav
                                                                                                                                                      img{}div.comments{margin-top:15px}.comments #jc
                                                                                                                                                                                        h4{color:inherit;font-weight:normal;margin-top:0px}.comments #comments
                                                                                                                                                                                                                                           a{color:inherit}.comments #comments a:hover{color:#578e13}.comments #comments div.comments-list{margin-left:0}.comments .rbox_tr,
                                                                                                                                                                                                                                                                                                                                                         .comments .rbox_tl,
                                                                                                                                                                                                                                                                                                                                                         .comments .rbox_t,
                                                                                                                                                                                                                                                                                                                                                         .comments .rbox_br,
                                                                                                                                                                                                                                                                                                                                                         .comments .rbox_bl,
                                                                                                                                                                                                                                                                                                                                                         .comments .rbox_b,
                                                                                                                                                                                                                                                                                                                                                         .comments
                                                                                                                                                                                                                                                                                                                                                         .rbox_m{background:none;border:none}.comments
                                                                                                                                                                                                                                                                                                                                                                                             .rbox{border:1px
#ccc solid}.comments .even
           .rbox{background:#fff}.comments .odd
                                 .rbox{background:#f0f0f0}.comments #comments-list-footer{margin:0
0 10px 0}#comments-form p,
         #comments-form #comments-form-buttons,
         #comments-form #comments-form-error{margin-left:0px !important}#comments-form #comments-form-message,
                                                                        #comments-inline-edit #comments-form-message{display:block;padding:5px
    5px 5px 25px}.comments-form-message-error{background:url("/components/com_flexicontent/assets/images/error.png") #ffd86f no-repeat 4px 50%}.comments-form-message-info{background:url("/components/com_flexicontent/assets/images/information.png") #dfeeff no-repeat 4px 50%}.comments
                                                                                                                                                                                                                                                                                  .votes{margin-left:-4px}.comments
                                                                                                                                                                                                                                                                                                          .favs{margin:5px
0 15px}dl.tabs, .flexicontent
dl.tabs{float:left;margin:10px
0 -1px 0;z-index:50}dl.tabs dt, .flexicontent dl.tabs
dt{background:#f0f0f0;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;color:#666;float:left;margin-left:3px;padding:10px;display:block}dl.tabs dt.open, .flexicontent dl.tabs
dt.open{background:#f9f9f9;border-bottom:1px solid #f9f9f9;color:#000;z-index:100;padding:10px}dl.tabs dt:hover, .flexicontent dl.tabs dt:hover{background:#c9c9c9}dl.tabs dt a:link, .flexicontent dl.tabs dt a:link{color:black !important;outline:medium none !important;text-decoration:none !important;background:none !important}div.current{border:1px
solid #ccc;clear:both;padding:10px
10px}div.current
     dd{margin:0;padding:0}#bottom-block{margin:0
auto;width:373px}.fcfile_mime .icon-mime,
                 .fcfile_hits .icon-hits,
                 .fcfile_lang .icon-lang{vertical-align:middle;margin-bottom:2px}#flexicontent .hasTip
                                                                                 img{margin:0}.empty_image{display:block;background:#F9F9F9 url("/administrator/components/com_flexicontent/assets/images/image_add.png") no-repeat scroll 50% 50%;border:1px
solid silver;margin-bottom:3px}.fc_field_image{padding:1px
!important;border:1px
solid lightgray !important;border-radius:5px !important;-moz-border-radius:5px !important;-webkit-border-radius:5px !important}.button-add
                                                                                                                               a{display:inline-block;padding:1px
8px;border:1px
solid #ccc;background:#efefef}.button-add a,
                              .button-add a:visited,
                              .button-add a:link,
                              .button-add a:hover{color:black;text-decoration:none}.fc_img_tooltip_title{line-height:1em;font-weight:bold}.fc_img_tooltip_desc{line-height:1em}.flexicontent.search
                                                                                                                                                                               h2.contentheading{float:left;display:block}#flexicontent
                                                                                                                                                                                                                          form#searchForm{clear:both;float:none}.fc_search_label_cell{text-align:right;padding:4px
6px 4px 4px;font-weight:bold;background-color:#eee;font-size:11px !important;font-family:tahoma;white-space:nowrap;width:5%}.fc_search_option_cell{padding:4px
4px 4px 6px;font-size:11px !important;font-family:tahoma}.fc_search_row_0
                                                         td{background-color:#f0f0f0}.fc_search_row_1
                                                                                     td{background-color:#e7e7e7}fieldset.fc_search_set{border:1px
solid #ccc;margin:0px
0px 12px 0px;padding:1%;width:98%;min-width:inherit !important;display:block}fieldset.fc_search_set
                                                                             legend{margin-left:6px;padding-left:4px}table.fc_search_tbl{border-collapse:separate !important;border-spacing:1px !important;width:100% !important}table.fc_search_tbl
                                                                                                                                                                                                                                 td{border-width:0px !important;border-spacing:1px !important}fieldset#fc_search_set_search_behavior
                                                                                                                                                                                                                                                                                              legend{}div.flexicontent.fcsearch
                                                                                                                                                                                                                                                                                                      .inputbox{border:1px
solid lightgray;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:2px;height:auto}div.flexicontent.fcsearch
                                                                                                           fieldset.fc_search_result{padding:16px
4px 16px 4px;margin:0px;border:1px
solid transparent}div.flexicontent.fcsearch
                  fieldset.fc_search_result.fcodd{background-color:#f0f0f0}div.flexicontent.fcsearch
                                                                           fieldset.fc_search_result.fceven{background-color:#f7f7f7}div.flexicontent.fcsearch  fieldset.fc_search_result:hover{border:1px
dashed gray}div.flexicontent.fcsearch
            .fc_search_result_title{float:left}div.flexicontent.fcsearch
                                               .fc_search_result_text{}div.flexicontent.fcsearch
                                                                       .fc_search_result_image{display:inline-block}div.flexicontent.fcsearch
                                                                                                                    .fc_search_result_image.fcleft{float:left;margin:0px
16px 0px 8px}div.flexicontent.fcsearch
             .fc_search_result_image.fcright{float:right;margin:0px
8px 0px 16px}div.flexicontent.fcsearch  .fc_search_result_image
             img{padding:1px;border:1px
solid #aaa;border-radius:4px}div.flexicontent.fcsearch
                             .fc_search_result_filters{}div.flexicontent.fcsearch
                                                        .fc_search_result_fields{}div#flexicontent.flexicontent.fcsearch
                                                                                  .highlight{background:none repeat scroll 0 0 #FFA;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:darkred;font-weight:normal;padding:3px
5px}div#flexicontent.flexicontent.fcsearch
    .fc_mublock{display:block;float:right}#flexicontent
                                          .fc_inline_block{*display:inline !important;_height:1%;display:inline-block !important;float:none !important;vertical-align:top;width:auto !important;zoom:1}#flexicontent
                                                                                                                                                                                                       .fc_block{display:block !important}#flexicontent
                                                                                                                                                                                                                                          .fc_inline{display:inline !important}#flexicontent
                                                                                                                                                                                                                                                                               .fc_inline_clear{display:inline!important}#flexicontent .fc_inline_clear:after{content:"\a";white-space:pre-wrap}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                .fc_clearfix{clear:both}table.admintable{border-collapse:separate !important;border-spacing:2px}table.admintable td.key,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                table.admintable
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                td.paramlist_key{background-color:#F2F2F2;border-bottom:1px solid #D0D0D0;border-right:1px solid #D0D0D0;color:#666;font-family:arial;font-size:11px;font-weight:normal;padding:2px
    4px;text-align:right;width:140px}table.admintable
                                     td{border:1px
solid #F0F0F0;font-weight:normal;text-align:left;padding:6px
4px 6px 4px}#__content_type_default_layout__{margin:12px
4px 4px 32px;padding:0px}#flexicontent.fcdirectory
                         .fccatcolumn{float:left;margin:0% 1% 0% 0% !important;padding:0px
!important}#flexicontent.fcdirectory
           h2.fccat_title_box{background-color:#ddd;border:1px
solid #fff;color:#fff;margin:-3px 0 0;padding:1px
0;width:auto}#flexicontent.fcdirectory
             .fccat_title{border:2px
solid #ddd;display:block;font-size:14px;font-weight:bold;margin:0
-1px;padding:2px
0 1px 4px;position:relative}#flexicontent.fcdirectory
                            span.fccat_title{color:darkred}#flexicontent.fcdirectory .fccat_title:hover{text-decoration:none}#flexicontent.fcdirectory
                                                                                                                             .fccat_assigned{}#flexicontent.fcdirectory
                                                                                                                                              .fccat_image{border:1px
solid #ddd;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;float:left;margin:2px
6px 1px 0px;padding:1px}#flexicontent.fcdirectory
                        .fccat_descr{}#flexicontent.fcdirectory
                                      ul.fcsubcats_list{border-top:1px dashed #ddd !important;list-style:none;margin:3px
0 7px;padding:0
7px}#flexicontent.fcdirectory
    li.fcsubcat{border-bottom:1px dashed #ddd !important;margin:2px
0px 2px 0px !important}#flexicontent.fcdirectory
                       li.fcsubcat.odd{}#flexicontent.fcdirectory
                                        li.fcsubcat.even{}#flexicontent.fcdirectory
                                                          a.fcsubcat_title{}#flexicontent.fcdirectory a.fcsubcat_title:hover{text-decoration:none}#flexicontent.fcdirectory
                                                                                                                                                  .fcsubcat_assigned{}#flexicontent.fcdirectory
                                                                                                                                                                      .fcsubcat_image{border:1px
solid #ddd;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;float:left;margin:2px
6px 1px 0px;padding:1px}#flexicontent.fcdirectory
                        .fcsubcat_descr{}#flexicontent .pane-sliders .pane-toggler
                                         span{background:url("/administrator/templates/bluestork/images/j_arrow.png") no-repeat scroll 5px 50% transparent;padding-left:20px}#flexicontent .pane-sliders .pane-toggler-down
                                                                                                                                                                             span{background:url("/administrator/templates/bluestork/images/j_arrow_down.png") no-repeat scroll 5px 50% transparent;padding-left:20px}#flexicontent fieldset.adminform fieldset.radio,
                                                                                                                                                                                                                                                                                                                      #flexicontent fieldset.panelform fieldset.radio,
                                                                                                                                                                                                                                                                                                                      #flexicontent fieldset.adminform-legacy
                                                                                                                                                                                                                                                                                                                      fieldset.radio{border:0
    none;float:left;margin:2px
    0px 5px 2px;padding:0}#flexicontent .pane-sliders .panel .pane-slider fieldset.panelform
                          select{min-width:200px;font-size:90%}#flexicontent table.admintable
                                                               td{margin:0px;padding:0.2em 0.4em}#flexicontent table.admintable table
                                                                                                 td{margin:0px;padding:0px}#flexicontent table.admintable
                                                                                                                           td.paramlist_key{padding:0px
4px 0px 4px}#fc_subtitle_tabset ul.tabbernav li
            a{padding-left:20px}a#fc_subtitle_tabset_nav_1,a#fc_subtitle_tabset_nav_2,a#fc_subtitle_tabset_nav_3,a#fc_subtitle_tabset_nav_4,a#fc_subtitle_tabset_nav_5,a#fc_subtitle_tabset_nav_6,a#fc_subtitle_tabset_nav_7,a#fc_subtitle_tabset_nav_8,a#fc_subtitle_tabset_nav_9,a#fc_subtitle_tabset_nav_10,a#fc_subtitle_tabset_nav_11,a#fc_subtitle_tabset_nav_12{background-position:1px 2px !important;background-repeat:no-repeat !important}#fc_bottom_tabset ul.tabbernav li
                                                                                                                                                                                                                                                                                                                                                                                                                                                     a{padding-left:20px}a#fc_bottom_tabset_nav_1,a#fc_bottom_tabset_nav_2,a#fc_bottom_tabset_nav_3,a#fc_bottom_tabset_nav_4,a#fc_bottom_tabset_nav_5,a#fc_bottom_tabset_nav_6,a#fc_bottom_tabset_nav_7,a#fc_bottom_tabset_nav_8,a#fc_bottom_tabset_nav_9,a#fc_bottom_tabset_nav_10,a#fc_bottom_tabset_nav_11,a#fc_bottom_tabset_nav_12{background-position:1px 2px !important;background-repeat:no-repeat !important}.flexi_radiotab{display:inline-block !important;padding:4px
6px !important;margin:2px
0px 2px 4px !important;border-radius:5px !important;-moz-border-radius:5px !important;-webkit-border-radius:5px !important;border:1px
solid #ccc !important;text-decoration:none !important;font-weight:normal !important;font-size:12px !important;cursor:pointer !important;float:left !important;white-space:nowrap !important;background-color:white !important;color:black !important}.flexi_radiotab.highlight{color:darkorange !important;font-weight:bold !important}.flexi_radiotab
                                                                                                                                                                                                                                                                                                                                       input{float:left !important;margin:0px
2px 0px 0px;padding:0px}.flexi_radiotab.fcdisabled{color:#bbb !important}div.fancybox-wrap
                                                                         a{background:none!important}#flexicontent
                                                                                                     .content{float:none;clear:both}.tabbertab
                                                                                                                                    .flexi.element{}#flexicontent
                                                                                                                                                    .rc5{border-radius:5px !important;-moz-border-radius:5px !important;-webkit-border-radius:5px !important}.fc_field_unsused_val{text-decoration:line-through}.fc_field_unsused_val
                                                                                                                                                                                                                                                                                                                img{opacity:0.4;filter:alpha(opacity=40)}.readon, .readon
a{*white-space:nowrap !important}#flexicontent
                                 .label{font-weight:bold}#flexicontent .flexi.label,.flexi.label{white-space:normal !important;font-size:11px !important;font-family:Verdana,sans-serif;float:left !important;display:block !important;text-transform:none;color:#EDEDED;background-color:#3276B1;font-size:80%}#flexicontent .flexi.value,.flexi.value{padding:0px
!important;margin:2px
0% 2px 0% !important}#flexicontent
                     .fc_mublock{display:block;float:left;clear:none;margin-bottom:6px}#flexicontent
                                                                                       .fc_markup{float:right !important;display:block !important;background-color:#F2F2F2;border-width:0px!important;font-style:normal !important;font-size:11px !important;font-family:arial!important;font-weight:bold !important;text-align:right !important;max-width:150px !important;min-width:auto !important;margin:0px
!important;padding:0px
!important;border-radius:6px !important;line-height:100%}#flexicontent
                                                         .fc_markup.mu_has_text{border-bottom:1px solid #AAA !important;border-right:1px solid #AAA !important;margin:2px
2px 2px 12px !important;padding:8px
4px !important}#flexicontent
               .fc_markup.mu_featured_cat.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/star.png") 4px 50% no-repeat lightgoldenrodyellow;color:black !important}#flexicontent
                                                                                                                                                                                                                       .fc_markup.mu_normal_cat.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/star-empty.png") 4px 50% no-repeat lightgoldenrodyellow;color:#888 !important}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                  .fc_markup.mu_item_no_access.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/eye-half.png") 4px 50% no-repeat #FFD700;color:#555 !important}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  .fc_markup.mu_item_free_access.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/eye.png") 4px 50% no-repeat #50EE90;color:#777 !important}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .fc_markup.mu_needed_acclvl.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/lock.png") 4px 50% no-repeat darkorange;color:white !important}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              .fc_markup.mu_obtained_acclvl.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/lock-unlock.png") 4px 50% no-repeat transparent !important;background-color:darkgreen !important;color:white !important}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .fc_markup.mu_ra_timeframe.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/calendar-select-days-span.png") 4px 50% no-repeat lightskyblue;color:#333 !important}#flexicontent
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .fc_markup.mu_ru_timeframe.mu_has_text{padding-left:24px !important;background:url("/components/com_flexicontent/assets/images/calendar-select-days-span.png") 4px 50% no-repeat lightskyblue;color:#333 !important}