<table class="uk-table " border="1">
            <thead>
            <tr>
                <th>название тура</th>
                <th>парнтеры</th>
                <th>оплата партнёрам</th>
                <th>в рублях</th>
                <th>курс</th>
                <th>полная сумма</th>
                <th>% ACCONTO</th>
                <th>Сколько оплатили</th>
                <th>Сумма оплат парнерам</th>
                <th>COSTO PARZIALE</th>
                <th>сколько заработали всего</th>
                <th>GUADAGNO PARZIALE</th>
                <th>Profit</th>
            </tr>
            </thead>
            <tbody><tr><td rowspan="1" height=100px>1555064223
Авиабилеты

studiovitoavino@gmail.com
2019-04-12 10:17:03
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">2930 €</td><td rowspan="1">100%</td><td rowspan="1">Это полный платёж!
-----
Всего: 2930</td><td rowspan="1">0 € </td><td rowspan="1">0 €  

Полный платёж 0 €   </td><td rowspan="1">2930 €  </td><td rowspan="1">2930 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1555062898
ТУР МОСКВА
Expotur Viaggi
paola@expoturviaggi.com
2019-04-12 09:54:58
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">1695 €</td><td rowspan="1">64.6%</td><td rowspan="1">-----
Всего: 1095</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">1695 €  </td><td rowspan="1">1095 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1555057507
Билеты на поезд
Gianfranco Credali 
credaligianfranco@gmail.com
2019-04-12 08:25:07
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">430 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 430</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">430 €  </td><td rowspan="1">430 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554979155
Тур в Санкт Петербург Москва
MARCOVATI LORIS MAURO
loris@cusun.sublink.org
2019-04-11 10:39:15
2 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">0-----73.24</td><td rowspan="1">0 €-----800 €</td><td rowspan="1">0%-----100%</td><td rowspan="1">Это полный платёж!
-----
Всего: 800</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">800 € ------800 €  

Полный платёж 800 €   </td><td rowspan="1">0 € -----800 €  </td><td rowspan="1">0 € -----1600 €  </td><td rowspan="1">   0 %   -----200 %</td></tr><tr><td rowspan="1" height=100px>1554969450
Тур Москва - Санкт-Петербург

manuuu89@hotmail.it
2019-04-11 07:57:30
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">320 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 320</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">320 €  </td><td rowspan="1">320 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554915939
Тур Москва - Санкт-Петербург
GATE 88 DI ROMANO TERESA
barbara@viaggigate88.it
2019-04-10 17:05:39
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">0-----73.24</td><td rowspan="1">0 €-----4440 €</td><td rowspan="1">0%-----43.02%</td><td rowspan="1">Это полный платёж!
-----
Всего: 1910</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">2530 € ------2530 €  

Полный платёж 2530 €   </td><td rowspan="1">0 € -----4440 €  </td><td rowspan="1">0 € -----4440 €  </td><td rowspan="1">   0 %   -----232.46 %</td></tr><tr><td rowspan="1" height=100px>1554883231
TEATRO

sandra.scattolin@robintur.it
2019-04-10 08:00:31
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">185 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 185</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">185 €  </td><td rowspan="1">185 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554820552
Тур Москва - Санкт-Петербург
COCO Epifanio
epifanio.coco@libero.it
2019-04-09 14:35:52
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">3350 €</td><td rowspan="1">10.45%</td><td rowspan="1">-----
Всего: 350</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">3350 €  </td><td rowspan="1">350 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554816415
Тур Москва - Санкт-Петербург
Adriano Travel - DALIA
a.ferolla@travelmanager.info
2019-04-09 13:26:55
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">180 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 180</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">180 €  </td><td rowspan="1">180 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554814503
экскурсии в САНКТ-ПЕТЕРБУРГ
CRIPPA Laura
lpricca@gmail.com
2019-04-09 12:55:03
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">570 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 570</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">570 €  </td><td rowspan="1">570 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554804753
экскурсии в САНКТ-ПЕТЕРБУРГ
startravel
info 
2019-04-09 10:12:33
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">180 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 180</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">180 €  </td><td rowspan="1">180 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554729952
Тур Москва - Санкт-Петербург
AMOROSO SILVIO
dr.silvioamoroso@gmail.com
2019-04-08 13:25:52
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">2630 €</td><td rowspan="1">51.33%</td><td rowspan="1">-----
Всего: 1350</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">2630 €  </td><td rowspan="1">1350 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554724419
Тур Москва - Санкт-Петербург
TAVECCHIO PIERA 
piera0255@alice.it
2019-04-08 11:53:39
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">2475 €</td><td rowspan="1">37.58%</td><td rowspan="1">-----
Всего: 930</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">2475 €  </td><td rowspan="1">930 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554723418
ТУР МОСКВА
VALESTOUR
silvia@valestour.it
2019-04-08 11:36:58
3 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">860 €</td><td rowspan="1">46.51%</td><td rowspan="1">Это полный платёж!
-----
Всего: 400</td><td rowspan="1">0 € </td><td rowspan="1">0 €  

Полный платёж 0 €   </td><td rowspan="1">860 €  </td><td rowspan="1">400 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554714149
ТУР САНКТ-ПЕТЕРБУРГ
PISU
ancumapi@inwind.it
2019-04-08 09:02:29
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">200 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 200</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">200 €  </td><td rowspan="1">200 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="5" height=100px>1554481662
Круиз Санкт-Петербург - Москва
BELLERI ADRIANA 
belleriadriana@yahoo.it
2019-04-05 16:27:42
8 PAX
					   </td><td> AnyWayanyday </td><td> 0 € </td><td>210054.72 ₽ </td><td rowspan="5">73.24</td><td rowspan="5">13990 €</td><td rowspan="5">21.44%</td><td rowspan="5">-----
Всего: 3000</td><td rowspan="5">11153.83 € </td><td rowspan="5">2391.38 €   </td><td rowspan="5">2836.17 €  </td><td rowspan="5">608.62 €  </td><td rowspan="5">20.29 %</td></tr><tr><td> МОСТУРФЛОТ </td><td>7380.8 €</td><td> 0 ₽</td></tr><tr><td> Параллель  60 </td><td>161 €</td><td> 0 ₽</td></tr><tr><td> ПРОЭКСПОРТ МИЛАН </td><td>744 €</td><td> 0 ₽</td></tr><tr><td>общее сумма</td><td> 8285.8 €  </td><td>  210054.72 ₽ </td></tr><tr><td rowspan="1" height=100px>1554466715
Тур Москва - Санкт-Петербург
CIOCIONI Renato
cioren@live.it
2019-04-05 12:18:35
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">400 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 400</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">400 €  </td><td rowspan="1">400 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554387436
экскурсии в САНКТ-ПЕТЕРБУРГ
VIAGGI DELL ELEFANTE
product@viaggidellelefante.it
2019-04-04 14:17:16
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">180 €</td><td rowspan="1">100%</td><td rowspan="1">-----
Всего: 180</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">180 €  </td><td rowspan="1">180 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554295634
ТУР САНКТ-ПЕТЕРБУРГ
ideaviaggi GAGGINI 
lorena@ideaviaggi.ch
2019-04-03 12:47:14
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">3920 €</td><td rowspan="1">79.59%</td><td rowspan="1">-----
Всего: 3120</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">3920 €  </td><td rowspan="1">3120 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1554213742
Тур в Санкт Петербург Москва
AUTOSERVIZI IELPO SRL,01129340764
info@ielpo.com
2019-04-02 14:02:22
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">0-----73.24</td><td rowspan="1">0 €-----43988 €</td><td rowspan="1">0%-----40%</td><td rowspan="1">-----
Всего: 17595</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">4280 € -----0 €   </td><td rowspan="1">0 € -----43988 €  </td><td rowspan="1">0 € -----17595 €  </td><td rowspan="1">   0 %   -----100 %</td></tr><tr><td rowspan="5" height=100px>1554208623
Круиз Санкт-Петербург - Москва
Daniele Barbirato
daniele.barbirato@bitek.it
2019-04-02 12:37:03
1 PAX
					   </td><td> AnyWayanyday </td><td> 0 € </td><td>52204 ₽ </td><td rowspan="5">73.24</td><td rowspan="5">3688 €</td><td rowspan="5">43.82%</td><td rowspan="5">-----
Всего: 1616</td><td rowspan="5">2838.78 € </td><td rowspan="5">1243.95 €   </td><td rowspan="5">849.22 €  </td><td rowspan="5">372.05 €  </td><td rowspan="5">23.02 %</td></tr><tr><td> МОСТУРФЛОТ </td><td>1845 €</td><td> 0 ₽</td></tr><tr><td> Параллель  60 </td><td>85 €</td><td> 0 ₽</td></tr><tr><td> ПРОЭКСПОРТ МИЛАН </td><td>196 €</td><td> 0 ₽</td></tr><tr><td>общее сумма</td><td> 2126 €  </td><td>  52204 ₽ </td></tr><tr><td rowspan="9" height=100px>1554106950
Тур Москва - Санкт-Петербург
Yana Tour Operator by DaVinci Travels srl Empoli P.Iva 06500700486
beatriceditomizio@yanaviaggi.it
2019-04-01 08:22:30
1 PAX
					   </td><td> Академ </td><td> 76.5 € </td><td>0 ₽ </td><td rowspan="9">1-----73.24</td><td rowspan="9">1024 €-----1024 €</td><td rowspan="9">100%-----100%</td><td rowspan="9">-----
Всего: 1024</td><td rowspan="9">0 €-----853.53 € </td><td rowspan="9">0 € -----853.53 €   </td><td rowspan="9">1024 € -----170.47 €  </td><td rowspan="9">1024 € -----170.47 €  </td><td rowspan="9">   100 %   -----16.65 %</td></tr><tr><td> Академ </td><td>0 €</td><td> 4500 ₽</td></tr><tr><td> Введенский Отель </td><td>0 €</td><td> 15600 ₽</td></tr><tr><td> ИП Ольга </td><td>45 €</td><td> 0 ₽</td></tr><tr><td> Новотель Москва Центр </td><td>0 €</td><td> 13024 ₽</td></tr><tr><td> Параллель  60 </td><td>68 €</td><td> 0 ₽</td></tr><tr><td> УФС </td><td>0 €</td><td> 6574 ₽</td></tr><tr><td> ЭКСПРЕСС САС ГЕНУЯ </td><td>122 €</td><td> 0 ₽</td></tr><tr><td>общее сумма</td><td> 311.5 €  </td><td>  39698 ₽ </td></tr><tr><td rowspan="10" height=100px>1554023570
МОСКВА - ЗОЛОТОЕ КОЛЬЦО-САНКТ-ПЕТЕРБУРГ
Yana Tour Operator by DaVinci Travels srl Empoli P.Iva 06500700486
beatriceditomizio@yanaviaggi.it
2019-03-31 09:12:50
2 PAX
					   </td><td> Введенский Отель </td><td> 0 € </td><td>21600 ₽ </td><td rowspan="10">1-----73.24</td><td rowspan="10">3906 €-----3906 €</td><td rowspan="10">29.95%-----29.95%</td><td rowspan="10">-----
Всего: 1170</td><td rowspan="10">0 €-----2516.49 € </td><td rowspan="10">0 € -----753.69 €   </td><td rowspan="10">3906 € -----1389.51 €  </td><td rowspan="10">1170 € -----416.31 €  </td><td rowspan="10">   100 %   -----35.58 %</td></tr><tr><td> Индекс Тревел (Золотое Кольцо) </td><td>0 €</td><td> 60598 ₽</td></tr><tr><td> ИП Ольга </td><td>250 €</td><td> 0 ₽</td></tr><tr><td> Новотель Москва Центр </td><td>0 €</td><td> 19400 ₽</td></tr><tr><td> Островок </td><td>0 €</td><td> 23588 ₽</td></tr><tr><td> Параллель  60 </td><td>68 €</td><td> 0 ₽</td></tr><tr><td> Параллель  60 </td><td>190 €</td><td> 0 ₽</td></tr><tr><td> УФС </td><td>0 €</td><td> 8000 ₽</td></tr><tr><td> ЭКСПРЕСС САС ГЕНУЯ </td><td>190 €</td><td> 0 ₽</td></tr><tr><td>общее сумма</td><td> 698 €  </td><td>  133186 ₽ </td></tr><tr><td rowspan="5" height=100px>1554022239
КРУИЗ МОСКВА - САНКТ-ПЕТЕРБУРГ
SERATI LAURA
l.serati@fdl-lex.it
2019-03-31 08:50:39
2 PAX
					   </td><td> AnyWayanyday </td><td> 0 € </td><td>69244 ₽ </td><td rowspan="5">1-----73.24</td><td rowspan="5">3800 €-----3800 €</td><td rowspan="5">49.32%-----49.32%</td><td rowspan="5">-----
Всего: 1874</td><td rowspan="5">0 €-----2891.44 € </td><td rowspan="5">0 € -----1426.06 €   </td><td rowspan="5">3800 € -----908.56 €  </td><td rowspan="5">1874 € -----447.94 €  </td><td rowspan="5">   100 %   -----23.9 %</td></tr><tr><td> Zama Рим </td><td>193 €</td><td> 0 ₽</td></tr><tr><td> МОСТУРФЛОТ </td><td>1691 €</td><td> 0 ₽</td></tr><tr><td> Параллель  60 </td><td>62 €</td><td> 0 ₽</td></tr><tr><td>общее сумма</td><td> 1946 €  </td><td>  69244 ₽ </td></tr><tr><td rowspan="7" height=100px>1553860371
Тур Москва - Санкт-Петербург
SAMBA.M S.R.L. Leonessa Viaggi Via del Risorgimento, 75 25127 Brescia  C.F./P.I. IT03163870987 Codice destinatario per Fatturazione elettronica KRRH6B9
v.capra@leonessaviaggi.it
2019-03-29 11:52:51
1 PAX
					   </td><td> AnyWayanyday </td><td> 0 € </td><td>48402 ₽ </td><td rowspan="7">73.24</td><td rowspan="7">1906 €</td><td rowspan="7">54.56%</td><td rowspan="7">-----
Всего: 1040</td><td rowspan="7">1586.1 € </td><td rowspan="7">865.38 €   </td><td rowspan="7">319.9 €  </td><td rowspan="7">174.62 €  </td><td rowspan="7">16.79 %</td></tr><tr><td> ГоГлобал  </td><td>335 €</td><td> 0 ₽</td></tr><tr><td> ГоГлобал  </td><td>169 €</td><td> 0 ₽</td></tr><tr><td> Параллель  60 </td><td>131 €</td><td> 0 ₽</td></tr><tr><td> ПРОЭКСПОРТ МИЛАН </td><td>181 €</td><td> 0 ₽</td></tr><tr><td> УФС </td><td>0 €</td><td> 8000 ₽</td></tr><tr><td>общее сумма</td><td> 816 €  </td><td>  56402 ₽ </td></tr><tr><td rowspan="5" height=100px>1553859688
Круиз Санкт-Петербург - Москва
CAIAZZO SILVANA
piri2712@yahoo.it
2019-03-29 11:41:28
1 PAX
					   </td><td> AnyWayanyday </td><td> 0 € </td><td>81273.39 ₽ </td><td rowspan="5">73.24</td><td rowspan="5">3854 €</td><td rowspan="5">49.97%</td><td rowspan="5">-----
Всего: 1926</td><td rowspan="5">3092.89 € </td><td rowspan="5">1545.52 €   </td><td rowspan="5">761.11 €  </td><td rowspan="5">380.48 €  </td><td rowspan="5">19.75 %</td></tr><tr><td> Zama Рим </td><td>193 €</td><td> 0 ₽</td></tr><tr><td> МОСТУРФЛОТ </td><td>1691.2 €</td><td> 0 ₽</td></tr><tr><td> Параллель  60 </td><td>99 €</td><td> 0 ₽</td></tr><tr><td>общее сумма</td><td> 1983.2 €  </td><td>  81273.39 ₽ </td></tr><tr><td rowspan="1" height=100px>1553851768
ТУР САНКТ-ПЕТЕРБУРГ
Genovagando.it & Seychellestour.it 
raffaella@genovagando.it
2019-03-29 09:29:28
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">2064 €</td><td rowspan="1">30.04%</td><td rowspan="1">-----
Всего: 620</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">2064 €  </td><td rowspan="1">620 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1553851539
Тур Москва - Санкт-Петербург
Genovagando.it & Seychellestour.it 
raffaella@genovagando.it
2019-03-29 09:25:39
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">2200 €</td><td rowspan="1">30%</td><td rowspan="1">-----
Всего: 660</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">2200 €  </td><td rowspan="1">660 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1553680512
МОСКВА - ЗОЛОТОЕ КОЛЬЦО-САНКТ-ПЕТЕРБУРГ
BELARDO ASSUNTA
susetta72@gmail.com
2019-03-27 09:55:12
4 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">6535 €</td><td rowspan="1">29.99%</td><td rowspan="1">-----
Всего: 1960</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">6535 €  </td><td rowspan="1">1960 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="5" height=100px>1553519864
Тур Москва - Санкт-Петербург
Blu Gaja Vacanze
paola@blugajavacanze.it
2019-03-25 13:17:44
1 PAX
					   </td><td> Zama Рим </td><td> 160 € </td><td>0 ₽ </td><td rowspan="5">73.24</td><td rowspan="5">1000 €</td><td rowspan="5">67%</td><td rowspan="5">-----
Всего: 670</td><td rowspan="5">775.02 € </td><td rowspan="5">519.27 €   </td><td rowspan="5">224.98 €  </td><td rowspan="5">150.73 €  </td><td rowspan="5">22.5 %</td></tr><tr><td> ГоГлобал  </td><td>338 €</td><td> 0 ₽</td></tr><tr><td> Островок </td><td>0 €</td><td> 12455 ₽</td></tr><tr><td> УФС </td><td>0 €</td><td> 7834.2 ₽</td></tr><tr><td>общее сумма</td><td> 498 €  </td><td>  20289.2 ₽ </td></tr><tr><td rowspan="5" height=100px>1553261018
ТУР МОСКВА
Viaggiando Mangiando
info@viaggiandomangiando.com
2019-03-22 13:23:38
2 PAX
					   </td><td> Zama Рим </td><td> 207 € </td><td>0 ₽ </td><td rowspan="5">1-----73.24</td><td rowspan="5">2100 €-----2140 €</td><td rowspan="5">55.71%-----45.33%</td><td rowspan="5">-----Это полный платёж!
-----
Всего: 2140</td><td rowspan="5">0 €-----1869.11 € </td><td rowspan="5">1041.25 € -----827.86 €  

Полный платёж 1041.25 €   </td><td rowspan="5">2100 € -----270.89 €  </td><td rowspan="5">1170 € -----142.14 €  </td><td rowspan="5">   100 %   -----14.65 %</td></tr><tr><td> Академ Сервис </td><td>0 €</td><td> 68370 ₽</td></tr><tr><td> Параллель  60 </td><td>86 €</td><td> 0 ₽</td></tr><tr><td> Сити Трэвел </td><td>0 €</td><td> 47064 ₽</td></tr><tr><td>общее сумма</td><td> 293 €  </td><td>  115434 ₽ </td></tr><tr><td rowspan="1" height=100px>1553180726
Тур Москва - Санкт-Петербург
VIAGGI DELL ELEFANTE
product@viaggidellelefante.it
2019-03-21 15:05:26
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">1-----73.24</td><td rowspan="1">1139 €-----5980 €</td><td rowspan="1">100%-----80.95%</td><td rowspan="1">-----Это полный платёж!
-----
Всего: 5980</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">0 € -----0 €  

Полный платёж 0 €   </td><td rowspan="1">1139 € -----5980 €  </td><td rowspan="1">1139 € -----4841 €  </td><td rowspan="1">   100 %   -----100 %</td></tr><tr><td rowspan="1" height=100px>1553088338
Тур Москва - Санкт-Петербург
STAZI LINO 
sorrentino.balzano@virgilio.it
2019-03-20 13:25:38
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">73.24</td><td rowspan="1">2580 €</td><td rowspan="1">70%</td><td rowspan="1">-----
Всего: 1806</td><td rowspan="1">0 € </td><td rowspan="1">0 €   </td><td rowspan="1">2580 €  </td><td rowspan="1">1806 €  </td><td rowspan="1">100 %</td></tr><tr><td rowspan="1" height=100px>1553010068
Тур Москва - Санкт-Петербург
FOSCOLO LUCIANO
Luciano.foscolo@gmail.com
2019-03-19 15:41:08
9 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">1-----73.24</td><td rowspan="1">10390 €-----10390 €</td><td rowspan="1">22.33%-----22.33%</td><td rowspan="1">-------------------------
Всего: 6481</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">0 € -----0 €   </td><td rowspan="1">10390 € -----10390 €  </td><td rowspan="1">2320 € -----2320 €  </td><td rowspan="1">   100 %   -----100 %</td></tr><tr><td rowspan="1" height=100px>1552991974
Круиз Санкт-Петербург - Москва

791178909631@ya.ru
2019-03-19 10:39:34
1 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">1-----73.24</td><td rowspan="1">10500 €-----10500 €</td><td rowspan="1">42.86%-----42.86%</td><td rowspan="1">----------Это полный платёж!
-----
Всего: 10500</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">0 € -----0 €  

Полный платёж 0 €   </td><td rowspan="1">10500 € -----10500 €  </td><td rowspan="1">4500 € -----4500 €  </td><td rowspan="1">   100 %   -----100 %</td></tr><tr><td rowspan="1" height=100px>1552575900
ТУР МОСКВА

luigia@mt-chiavenna.it
2019-03-14 15:05:00
3 PAX
					   </td><td></td><td></td><td></td><td rowspan="1">1-----73.24</td><td rowspan="1">1914 €-----1914 €</td><td rowspan="1">29.99%-----70.01%</td><td rowspan="1">-----Это полный платёж!
-----
Всего: 1914</td><td rowspan="1">0 €-----0 € </td><td rowspan="1">0 € -----0 €  

Полный платёж 0 €   </td><td rowspan="1">1914 € -----1914 €  </td><td rowspan="1">574 € -----1340 €  </td><td rowspan="1">   100 %   -----100 %</td></tr></tbody>
        </table>