
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=Lato:900,700,400,300';

/* theme: Eat */


/*
 * Modifier: `uk-button-table`
 */
 

.pagination {
  margin: 24px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 24px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #82a2b6;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #aaaaaa;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #aaaaaa;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 20px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 13.6px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 12px;
}

.icon-previous:before,
.icon-backward:before {
  content: "\f060";
    font-family: FontAwesome;
}
.icon-next:before,
.icon-forward:before {
  content: "\f061";
      font-family: FontAwesome;
}
.icon-first:before {
  content: "\7d";
}
.icon-last:before {
  content: "\e000";
}
.uk-text-normal {
font-weight: normal;
}
.uk-button-table {
  background-color: #6cb88e;
  line-height: 24px;
  /* 4 */
  min-height: 24px;

  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #5891b3, #045f93);
  background-image: linear-gradient(to bottom, #5891b3, #045f93);
  border-color: rgba(0, 0, 0, 0.06);
}
/* Hover */
.uk-button-table:hover,
.uk-button-table:focus {
  background-color: #045786;
  color: #ffffff;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
/* Active */
.uk-button-table:active,
.uk-button-table.uk-active {
  background-color: #61b386;
  color: #ffffff;
  background-image: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.uk-table2 {
  /* 1 */
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
  /* 3 */
  margin-bottom: 20px;
}
/*
 * Add margin if adjacent element
 */
* + .uk-table2 {
  margin-top: 20px;
}
.uk-table2 th,
.uk-table2 td {
  padding-top: 2px;
padding-bottom: 2px;
}
/*
 * Set alignment
 */
.uk-table2 th {
  text-align: left;
}
.uk-table2 td {
  vertical-align: top;
}
.uk-table2 thead th {
  vertical-align: bottom;
}
/*
 * Caption and footer
 */
.uk-table2 caption,
.uk-table2 tfoot {
  font-size: 14px;
  font-style: italic;
}
.uk-table2 caption {
  text-align: left;
  color: #aaaaaa;
}
/*
 * Active State
 */

.uk-table2 thead th {
  border: 1px solid #000;
  color: #000;
  text-align: center;
}
.uk-table2 thead th:first-child,
.uk-table2 td:first-child {
  text-align: left;
}
.uk-table2 thead th:last-child {

}
.uk-table2 td {
  position: relative;
  border: 1px solid #2c2c2c;
  vertical-align: middle;
  text-align: center;
}


/*
    Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
    @media
      only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */

        .uk-table2 table {
            display: block;
        }

        .uk-table2 thead {
            display: block;
        }

        .uk-table2 tbody {
            display: block;
        }
        .uk-table2 th {
            display: block;
        }
        .uk-table2 td {
            display: block;
        }
        .uk-table2 tr {
            display: block;
        }


        /* Hide table headers (but not display: none;, for accessibility) */
        .uk-table2 thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .uk-table2 tr {
      margin: 0 0 1rem 0;
    }

     .uk-table2 tr:nth-child(odd) {
      background: #ccc;
    }

        .uk-table2 td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        .uk-table2 td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
        */
        .uk-table2 td:nth-of-type(1):before { content: "DATE DEL VIAGGIO \00000A Partenza garantita ";    white-space: pre; }
        .uk-table2 td:nth-of-type(2):before { content: "Stanza doppia BB 4*";    text-align: left; }
        .uk-table2 td:nth-of-type(3):before { content: "Suppl. singola";    text-align: left; }
        .uk-table2 td:nth-of-type(4):before { content: "Mezza pensione";    text-align: left; }
        .uk-table2 td:nth-of-type(5):before { content: "Giorno aggiuntivo*";    text-align: left; }
        .uk-table2 td:nth-of-type(6):before { content: "Maggiori informazioni";    text-align: left; }

        .uk-table3 td:nth-of-type(1):before { content: "Fechas del viaje \00000A Salida garantizada";    white-space: pre; }
        .uk-table3 td:nth-of-type(2):before { content: "Habitación doble BB 4*";    text-align: left; }
        .uk-table3 td:nth-of-type(3):before { content: "Sup. sgl.";    text-align: left; }
        .uk-table3 td:nth-of-type(4):before { content: "Media pensión";    text-align: left; }
        .uk-table3 td:nth-of-type(5):before { content: "Día adicional*";    text-align: left; }
        .uk-table3 td:nth-of-type(6):before { content: "Más informaciones";    text-align: left; }
	
        .uk-table10 td:nth-of-type(1):before { content: "TRAVEL DATES";    white-space: pre; }
        .uk-table10 td:nth-of-type(2):before { content: "Double room BB 4*";    text-align: left; }
        .uk-table10 td:nth-of-type(3):before { content: "Sgl. Suppl.";    text-align: left; }
        .uk-table10 td:nth-of-type(4):before { content: "Half board";    text-align: left; }
        .uk-table10 td:nth-of-type(5):before { content: "Additional day*";    text-align: left; }
        .uk-table10 td:nth-of-type(6):before { content: "More information";    text-align: left; }


        .uk-table4 td:nth-of-type(1):before { content: "Date"; }
        .uk-table4 td:nth-of-type(2):before { content: "Itinerario";    text-align: left; }
        .uk-table4 td:nth-of-type(3):before { content: "Cabina doppia";    text-align: left; }
        .uk-table4 td:nth-of-type(4):before { content: "Cabina singola";    text-align: left; }
        .uk-table4 td:nth-of-type(5):before { content: "Cabina doppia uso singola";    text-align: left; }

        .uk-table5 td:nth-of-type(1):before { content: "Categoria"; }
        .uk-table5 td:nth-of-type(2):before { content: "Mosca - Vladivostok"; white-space: pre; }
        .uk-table5 td:nth-of-type(3):before { content: "Supp. uso singola";    text-align: left; }
        .uk-table5 td:nth-of-type(4):before { content: "Maggiori informazioni";    text-align: left; }

        .uk-table6 td:nth-of-type(1):before { content: "Categoria"; }
        .uk-table6 td:nth-of-type(2):before { content: "Mosca - Pechino"; white-space: pre; }
        .uk-table6 td:nth-of-type(3):before { content: "Supp. uso singola";    text-align: left; }
        .uk-table6 td:nth-of-type(4):before { content: "Maggiori informazioni";    text-align: left; }

        .uk-table7 td:nth-of-type(1):before { content: "Categoría"; }
        .uk-table7 td:nth-of-type(2):before { content: "Moscú - Vladivostok"; white-space: pre; }
        .uk-table7 td:nth-of-type(3):before { content: "Sup. uso individual";    text-align: left; }
        .uk-table7 td:nth-of-type(4):before { content: "Más informaciones";    text-align: left; }

        .uk-table8 td:nth-of-type(1):before { content: "Categoría"; }
        .uk-table8 td:nth-of-type(2):before { content: "Moscú - Pekín"; white-space: pre; }
        .uk-table8 td:nth-of-type(3):before { content: "Sup. uso individual";    text-align: left; }
        .uk-table8 td:nth-of-type(4):before { content: "Más informaciones";    text-align: left; }

        .uk-table9 td:nth-of-type(1):before { content: "Fechas"; }
        .uk-table9 td:nth-of-type(2):before { content: "Itinerario";    text-align: left; }
        .uk-table9 td:nth-of-type(3):before { content: "Doble";    text-align: left; }
        .uk-table9 td:nth-of-type(4):before { content: "Individual";    text-align: left; }
        .uk-table9 td:nth-of-type(5):before { content: "Doble de uso individual";    text-align: left; }
        .uk-table9 td:nth-of-type(6):before { content: "Rellene el formulario";    text-align: left; }

        .uk-table11 td:nth-of-type(1):before { content: "Category"; }
        .uk-table11 td:nth-of-type(2):before { content: "Moscow - Vladivostok"; white-space: pre; }
        .uk-table11 td:nth-of-type(3):before { content: "Single supp.";    text-align: left; }
        .uk-table11 td:nth-of-type(4):before { content: "More information";    text-align: left; }

        .uk-table12 td:nth-of-type(1):before { content: "Category"; }
        .uk-table12 td:nth-of-type(2):before { content: "Moscow - Beijing"; white-space: pre; }
        .uk-table12 td:nth-of-type(3):before { content: "Single supp.";    text-align: left; }
        .uk-table12 td:nth-of-type(4):before { content: "More information";    text-align: left; }

        .uk-table13 td:nth-of-type(1):before { content: "Dates"; }
        .uk-table13 td:nth-of-type(2):before { content: "Itinerary";    text-align: left; }
        .uk-table13 td:nth-of-type(3):before { content: "DBL/twin Cabin	";    text-align: left; }
        .uk-table13 td:nth-of-type(4):before { content: "SGL Cabin";    text-align: left; }
        .uk-table13 td:nth-of-type(5):before { content: "DBL/twin Cabin, single use";    text-align: left; }
        .uk-table13 td:nth-of-type(6):before { content: "More information";    text-align: left; }


        .uk-table14 td:nth-of-type(1):before { content: "Categoria"; }
        .uk-table14 td:nth-of-type(2):before { content: "Opzione 1"; }
        .uk-table14 td:nth-of-type(3):before { content: "Suppl.  sgl.";    text-align: left; }
        .uk-table14 td:nth-of-type(4):before { content: "Opzione 2";    text-align: left; }
        .uk-table14 td:nth-of-type(5):before { content: "Suppl.  sgl.";    text-align: left; }
        .uk-table14 td:nth-of-type(6):before { content: "Maggiori informazioni";    text-align: left; }
	
	 
	.uk-table22 td:nth-of-type(1):before { content: "DATE DEL VIAGGIO";    white-space: pre; }
        .uk-table22 td:nth-of-type(2):before { content: "Stanza doppia BB 4*";    text-align: left; }
        .uk-table22 td:nth-of-type(3):before { content: "Suppl. singola";    text-align: left; }
        .uk-table22 td:nth-of-type(4):before { content: "Mezza pensione";    text-align: left; }
        .uk-table22 td:nth-of-type(5):before { content: "Maggiori informazioni";    text-align: left; }

        .uk-table23 td:nth-of-type(1):before { content: "Fechas del viaje";    white-space: pre; }
        .uk-table23 td:nth-of-type(2):before { content: "Habitación doble BB 4*";    text-align: left; }
        .uk-table23 td:nth-of-type(3):before { content: "Sup. sgl. 4*";    text-align: left; }
        .uk-table23 td:nth-of-type(4):before { content: "Media pensión";    text-align: left; }
        .uk-table23 td:nth-of-type(5):before { content: "Más informaciones";    text-align: left; }
	
        .uk-table210 td:nth-of-type(1):before { content: "TRAVEL DATES";    white-space: pre; }
        .uk-table210 td:nth-of-type(2):before { content: "Double room BB 4*";    text-align: left; }
        .uk-table210 td:nth-of-type(3):before { content: "Sgl. Suppl.";    text-align: left; }
        .uk-table210 td:nth-of-type(4):before { content: "Half board";    text-align: left; }
        .uk-table210 td:nth-of-type(5):before { content: "More information";    text-align: left; }

	
        .uk-table32 td:nth-of-type(1):before { content: "DATE DEL VIAGGIO \00000A Partenza garantita";    white-space: pre; }
        .uk-table32 td:nth-of-type(2):before { content: "Stanza doppia BB";    text-align: left; }
        .uk-table32 td:nth-of-type(3):before { content: "Suppl. sgl.";    text-align: left; }
        .uk-table32 td:nth-of-type(4):before { content: "Maggiori informazioni";    text-align: left; }

        .uk-table3 td:nth-of-type(1):before { content: "Fechas del viaje \00000A Salida garantizada";    white-space: pre; }
        .uk-table3 td:nth-of-type(2):before { content: "Habitación doble BB 4*";    text-align: left; }
        .uk-table3 td:nth-of-type(3):before { content: "Sup. sgl. ";    text-align: left; }
        .uk-table3 td:nth-of-type(4):before { content: "Media pensión";    text-align: left; }
        .uk-table3 td:nth-of-type(5):before { content: "Día adicional*";    text-align: left; }
        .uk-table3 td:nth-of-type(6):before { content: "Más informaciones";    text-align: left; }
	
        .uk-table10 td:nth-of-type(1):before { content: "TRAVEL DATES";    white-space: pre; }
        .uk-table10 td:nth-of-type(2):before { content: "Double room BB 4*";    text-align: left; }
        .uk-table10 td:nth-of-type(3):before { content: "Sgl. Suppl.";    text-align: left; }
        .uk-table10 td:nth-of-type(4):before { content: "Half board";    text-align: left; }
        .uk-table10 td:nth-of-type(5):before { content: "Additional day*";    text-align: left; }
        .uk-table10 td:nth-of-type(6):before { content: "More information";    text-align: left; }
	
        .uk-table42 td:nth-of-type(1):before { content: "DATE DEL VIAGGIO";    white-space: pre; }
        .uk-table42 td:nth-of-type(2):before { content: "Stanza doppia BB 4*";    text-align: left; }
        .uk-table42 td:nth-of-type(3):before { content: "Suppl. singola";    text-align: left; }
        .uk-table42 td:nth-of-type(4):before { content: "Maggiori informazioni";    text-align: left; }
	 
        .uk-table43 td:nth-of-type(1):before { content: "Fechas del viaje";    white-space: pre; }
        .uk-table43 td:nth-of-type(2):before { content: "Habitación doble BB 4*";    text-align: left; }
        .uk-table43 td:nth-of-type(3):before { content: "Sup. sgl.";    text-align: left; }
        .uk-table43 td:nth-of-type(4):before { content: "Más informaciones";    text-align: left; }

	.uk-table44 td:nth-of-type(1):before { content: "TRAVEL DATES";    white-space: pre; }
        .uk-table44 td:nth-of-type(2):before { content: "Double room BB 4*";    text-align: left; }
        .uk-table44 td:nth-of-type(3):before { content: "Sgl. Suppl.";    text-align: left; }
        .uk-table44 td:nth-of-type(4):before { content: "More information";    text-align: left; }

    	.uk-table50 td:nth-of-type(1):before { content: "Даты заездов: ";    white-space: pre; }
        .uk-table50 td:nth-of-type(2):before { content: "Двухместный номер";    text-align: left; }
        .uk-table50 td:nth-of-type(3):before { content: "Доплата за сингл";    text-align: left; }
		.uk-table50 td:nth-of-type(4):before { content: "Забронировать";    text-align: left; }
    	
		.uk-table51 td:nth-of-type(1):before { content: "Даты/ Теплоход: ";    white-space: pre; }
        .uk-table51 td:nth-of-type(2):before { content: "Маршрут";    text-align: left; }
        .uk-table51 td:nth-of-type(3):before { content: "2х местная каюта ";    text-align: left; }
		.uk-table51 td:nth-of-type(4):before { content: "Одноместная  каюта ";    text-align: left; }
		.uk-table51 td:nth-of-type(5):before { content: "2х местная для одного";    text-align: left; }  
        .uk-table51 td:nth-of-type(6):before { content: "Забронировать";    text-align: left; }

    	.uk-table52 td:nth-of-type(1):before { content: "Категория размещения";    white-space: pre; }
        .uk-table52 td:nth-of-type(2):before { content: "Стоимость за человека в двухместном купе";    text-align: left; }
        .uk-table52 td:nth-of-type(3):before { content: "Доплата за сингл";    text-align: left; }
		.uk-table52 td:nth-of-type(4):before { content: "Забронировать тур";    text-align: left; }
		
		.uk-table53 td:nth-of-type(1):before { content: "Даты заездов:";    white-space: pre; }
        .uk-table53 td:nth-of-type(2):before { content: "Стоимость  на 1 человека: ";    text-align: left; }
		.uk-table53 td:nth-of-type(3):before { content: "Забронировать";    text-align: left; }

    	.uk-table54 td:nth-of-type(1):before { content: "Даты заездов:";    white-space: pre; }
        .uk-table54 td:nth-of-type(2):before { content: "Двухместный номер";    text-align: left; }
        .uk-table54 td:nth-of-type(3):before { content: "Доплата за сингл";    text-align: left; }
		.uk-table54 td:nth-of-type(4):before { content: "Забронировать тур";    text-align: left; }

		.uk-table55 td:nth-of-type(1):before { content: "Категория отеля";    white-space: pre; }
        .uk-table55 td:nth-of-type(2):before { content: "2-4 участника";    text-align: left; }
        .uk-table55 td:nth-of-type(3):before { content: "5-7 участников ";    text-align: left; }
		.uk-table55 td:nth-of-type(4):before { content: "8-10 участников";    text-align: left; }
		.uk-table55 td:nth-of-type(5):before { content: "Забронировать тур";    text-align: left; }

    	.uk-table56 td:nth-of-type(1):before { content: "Индивидуальный тур, отель 3* ";    white-space: pre; }
        .uk-table56 td:nth-of-type(2):before { content: "Стоимость на человека (группа  2 чел.) ";    text-align: left; }
        .uk-table56 td:nth-of-type(3):before { content: "Стоимость на человека (группа 4 чел.) ";    text-align: left; }
		.uk-table56 td:nth-of-type(4):before { content: "Забронировать тур";    text-align: left; }

    	.uk-table57 td:nth-of-type(1):before { content: "Тур";    white-space: pre; }
         
        .uk-table57 td:nth-of-type(2):before { content: "Группа 2 чел.";    text-align: left; }
		.uk-table57 td:nth-of-type(3):before { content: "Группа 4 чел.";    text-align: left; }
        .uk-table57 td:nth-of-type(4):before { content: "Группа 6 чел.";    text-align: left; }
		.uk-table57 td:nth-of-type(5):before { content: "Группа 8 чел.";    text-align: left; }
		.uk-table57 td:nth-of-type(6):before { content: "Группа 10 чел.";    text-align: left; }
		.uk-table57 td:nth-of-type(7):before { content: "Забронировать тур";    text-align: left; }
		
		.uk-table58 td:nth-of-type(1):before { content: "Категория размещения";    white-space: pre; }
        .uk-table58 td:nth-of-type(2):before { content: "Двухместный купе";    text-align: left; }
        .uk-table58 td:nth-of-type(3):before { content: "Доплата за сингл";    text-align: left; }
		.uk-table58 td:nth-of-type(4):before { content: "Забронировать";    text-align: left; }
		
		 .uk-table59 td:nth-of-type(1):before { content: "Поезд:";    white-space: pre; }
        .uk-table59 td:nth-of-type(2):before { content: "Маршрут";    text-align: left; }
        .uk-table59 td:nth-of-type(3):before { content: "Отправление";    text-align: left; }
		.uk-table59 td:nth-of-type(4):before { content: "Прибытие ";    text-align: left; }
		
		.uk-table60 td:nth-of-type(1):before { content: "Класс Каюты";    white-space: pre; }
        .uk-table60 td:nth-of-type(2):before { content: "Стоимость";    text-align: left; }
        .uk-table60 td:nth-of-type(3):before { content: "Отправить запрос";    text-align: left; }
 
		.uk-table61 td:nth-of-type(1):before { content: "Расписание отправлений";    white-space: pre; }
        .uk-table61 td:nth-of-type(2):before { content: "Стоимость";    text-align: left; }
        .uk-table61 td:nth-of-type(3):before { content: "Отправить запрос";    text-align: left; }
    
	.uk-table62 td:nth-of-type(1):before { content: "Размещение";    white-space: pre; }
        .uk-table62 td:nth-of-type(2):before { content: "Двухместный номер";    text-align: left; }
        .uk-table62 td:nth-of-type(3):before { content: "Доплата за сингл";    text-align: left; }
	.uk-table62 td:nth-of-type(4):before { content: "Забронировать тур";    text-align: left; }

	.uk-table63 td:nth-of-type(1):before { content: "Отель";    white-space: pre; }
        .uk-table63 td:nth-of-type(2):before { content: "в одноместном номере";    text-align: left; }
        .uk-table63 td:nth-of-type(3):before { content: "в двухместном номере";    text-align: left; }
	.uk-table63 td:nth-of-type(4):before { content: "Забронировать тур";    text-align: left; }



	}
 

.icon-calendar:before {
  content: "\f073";
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-prepend .add-on:last-child,
.input-prepend .btn:last-child,
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.input-append > .btn, .input-prepend > .btn {
    position: relative;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
    margin-left: -1px;
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uk-form button, .uk-form input, .uk-form textarea, .uk-search button, .uk-search input, .uk-button, .uk-alert-close {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
button.btn, input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
.btn {
    border: none;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background: #82a2b6;
    padding: 3px 8px;
    border: 1px solid #3E5C6F;
    border-radius: 1px;
}
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #505050;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    border-color: #eeeeee #eeeeee #c8c8c8;
    *background-color: #eeeeee;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  margin-top: 4px;
  /* 14px = icon height */
  vertical-align: top;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

.pagination {
  margin: 22px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 22px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}
/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f5f7f9;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #7fa0b3;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #7fa0b3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f5f7f9;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #7fa0b3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


//
// Article
//

@article-title-font-weight: 400;

//
// Typography
//

/* HEADER */
#header { height:600px; }
.headerimg { background-position: center top; 
background-repeat: no-repeat; 
width:100%; 
height:600px; 
position:absolute; 
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
}
.img_25px {
margin-bottom: 10px;
height : 25px;
float: left;
margin-left: 10px;
}

@media (min-width: 799px) {
 .tel {
color:#fff;
margin-left: 1px;
    padding-bottom: 2px;
  }
.socbuttons {
margin: 0px;
width: 50%;
}
.newfont {
  margin: 0 0 0px 0;
  font-family: 'Baskerville';
  font-weight: 400;
  color: #2a2a2a;
}
  
}

@media (min-width: 1023px) {
 .tel {
color:#fff;
margin-left: 131px;
  }
}



.tel a{
color:#fff;
}
/* Advanced Dropdown style*/

div.advanced-dropdown {
    position:relative;
}
div.mod-languages.advanced-dropdown ul {
    background: #091732;
    position: absolute;
    z-index: 100;
    list-style-type: none;
    left: 0;
    padding: 5px 10px 5px 4px;
    border-radius: 0 0 2px 2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;

}

.uk-button2{
  /* 1 */
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  /* 2 */
  border: none;
  /* 3 */
  line-height: 36px;
  /* 4 */
  min-height: 36px;
  /* 5 */
  /* 6 */
  padding: 0 12px;
  color: #fff;
  border-width: 0px 0px 0 0px;
  border-style: solid;
  background: rgba(238, 238, 238, 0);
  border-color: #eaeaea;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image:linear-gradient(to bottom, rgba(252, 252, 252, 0), rgba(250, 250, 250, 0));
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.09);
  text-transform: uppercase;
  font-size: 14px;
}
.uk-button2:hover,
.uk-button2:focus {
  background: rgba(238, 238, 238, 0);
  color: #c5c5c5;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.08);
  background-image: none;
  box-shadow: inset 1px 3px 2px rgba(0, 0, 0, 0.025), inset 0 -1px 1px rgba(0, 0, 0, 0.07);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.9);
}

div.advanced-dropdown a.langChoose:link, div.advanced-dropdown a.langChoose:visited {
    background-color: #091732;
    border-radius: 2px;
    width: 38px;
    margin-top: 3px;
    padding: 3px;
    line-height: 0;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

div.advanced-dropdown a.langChoose img {
    border: 1px solid white;
}

div.advanced-dropdown span.caret{
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-left:1px;
}

div.advanced-dropdown a{
    white-space:nowrap;
    color: #fff;
}

div.mod-languages ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
div.mod-languages li {
    margin-left: 0px;
    margin-right: 4px;
}

div.mod-languages ul.lang-inline li {
    display:inline;
}

div.mod-languages ul.lang-block li {
    display:block;
}

div.mod-languages img {
    border:none;
}

div.mod-languages a {
    text-decoration: none;
}

.news2 {
    text-align: left;
    margin-left: -4px;
}

.wk-slideshow[data-options*="kenburns"] img {   
  max-width: none !important;   
  position: relative;  
}


.container1 {
    float:left;
    width:100%;
}

.col1 {
    float:left;
    width:15%;

}
.col2 {
    float:left;
    width:85%;
  height: 35px;
}

.col3 {
    float:left;
    width:85%;

}

.margin-top-0 {
margin-top: 0px;
}
.pretext {
 float: left;
 color: #fff;
}
@global-dark-color: #2a2a2a;
@global-primary-color: #87A8BB;
@global-link-color: #8cacbe;
@global-link-hover-color: #648da3;
@global-success-color: #6cb88e;
@global-warning-color: #c9af87;
@global-danger-color: #aa5069;

//
// Backgrounds
//

@global-primary-gradient-top: #8cacbe;
@global-primary-gradient-bottom: #7b9cb0;
@global-success-gradient-top: #82c6a0;
@global-success-gradient-bottom: #5daf82;
@global-warning-gradient-top: #d6bf9b;
@global-warning-gradient-bottom: #c9af87;
@global-danger-gradient-top: #ba5d77;
@global-danger-gradient-bottom: #9f4860;

//
// Base
//

@base-heading-font-family: 'Baskerville';
@base-heading-font-weight: 400;
@base-h4-font-size: round(@global-font-size * 1.312); // 21px

//
// Panel
//

@panel-title-font-size: round(@global-font-size * 1.312); // 21px
@panel-box-primary-background: #9FBBCC;
@panel-title-font-weight: normal;

//
// Navbar
//

@navbar-border: @navbar-background;
@navbar-background: #2A2A2A;
@navbar-nav-hover-background: #363636;
@navbar-nav-color: #B1B1B1;
@navbar-nav-hover-color: #fff;
@navbar-nav-active-color: @global-contrast-color;
@navbar-toggle-color: fade(@global-contrast-color, 50%);
@navbar-toggle-hover-color: @global-contrast-color;

//
// Nav
//

@nav-navbar-color: #B1B1B1;
@nav-navbar-hover-background: rgba(255,255,255, 0.05);
@nav-navbar-hover-color: #f5f5f5;
@nav-navbar-header-color: rgba(255,255,255, 0.8);
@nav-navbar-nested-hover-color: @global-contrast-color;
@nav-search-color: #77797a;
@nav-search-hover-color: #f5f5f5;
@nav-search-active-color: #f5f5f5;
@nav-search-active-background: rgba(255,255,255, 0.05);
@nav-search-header-color: rgba(255,255,255, 0.8);
@nav-dropdown-nested-hover-color: @global-contrast-color;

//
// Dropdown
//

@dropdown-navbar-background: #363636;
@dropdown-navbar-color: #77797a;
@dropdown-navbar-nav-sub-border: rgba(255,255,255,0);
@dropdown-search-background: #2A2A2A;
@dropdown-search-color: @global-color;


// Theme Variables
// ==========================================================================

@theme_global-body-style: 'dove';
@theme_fullscreen-border-top: rgba(0,0,0, 0.8);
@theme_teaser-line-length: 203px;
@theme_teaser-small-line-length: 250px;
@theme_teaser-subtitle-border: rgba(255,255,255,0.6);
@theme_title-line-bottom-border: rgba(255,255,255,0.1);

//
// Bottom
//

@theme_bottom-background: #2A2A2A;
@theme_bottom-border: darken(@theme_bottom-background, 50%);
@theme_panel-header-opacity: 0.5;

@theme_bottom-panel-title-color:                  @global-contrast-color;
@theme_bottom-nested-link-hover-color:            #909397;
@theme_bottom-panel-color:                        #B1B1B1;

@theme_bottom-icon-color:                         @global-contrast-color;
@theme_bottom-icon-hover-color:                   fade(@global-contrast-color, 50%);
@theme_bottom-icon-active-color:                  fade(@global-contrast-color, 30%);

@theme_bottom-form-color:                         rgba(255,255,255,0.55);
@theme_bottom-form-focus-color:                   rgba(255,255,255,0.7);
@theme_bottom-form-background:                    rgba(255,255,255,0.1);
@theme_bottom-form-border-color:                  rgba(255,255,255,0);
@theme_bottom-form-focus-background:              rgba(255,255,255,0.2);
@theme_bottom-form-focus-border-color:            rgba(255,255,255,0);
@theme_bottom-form-placeholder-color:             rgba(255,255,255,0.4);

@theme_dropdown-form-color:                       rgba(255,255,255,0.55);
@theme_dropdown-form-focus-color:                 rgba(255,255,255,0.7);
@theme_dropdown-form-background:                  rgba(255,255,255,0.1);
@theme_dropdown-form-border-color:                rgba(255,255,255,0);
@theme_dropdown-form-focus-background:            rgba(255,255,255,0.2);
@theme_dropdown-form-focus-border-color:          rgba(255,255,255,0);
@theme_dropdown-form-placeholder-color:           rgba(255,255,255,0.3);
@theme_dropdown-list-link-color:                  rgba(255,255,255,0.35);
@theme_dropdown-list-link-hover-color:            @global-contrast-color;

.bordered {
    border: solid #A09F9F 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #000; 
    -moz-box-shadow: 0 1px 1px #000; 
    box-shadow: 0 1px 1px #000;         
}
 
.bordered tr:hover {
    background: #fff;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
 
.bordered td, .bordered th {
    border-left: 1px solid #A09F9F;
    border-top: 1px solid #A09F9F;
    padding: 10px;
    text-align: left;    
}
 
.center {
    text-align: center;    

}
.but {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #26282A 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.but:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.but:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}
 
.bordered td:first-child, .bordered th:first-child { 
    border-left: none;
}
 
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
 
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
 
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0