#CTXbutton {
    width: 100%;
    border: none!important;
}
.CTXmenu-a {
    height: 64px!important;
    line-height: 64px!important;
    font-size: 21.333333333333332px!important;
}
.CTXmenu-a, .CTXmenu-a:hover, .CTXmenu-a:visited, .CTXmenu-a:active {
    color: #000!important;
    text-decoration: none!important;
    color: #000!important;
}
.CTXmenu-a {
    white-space: nowrap;
    word-wrap: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 5%;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    display: block;
    font-family: verdana, helvetica, sans-serif;
}
#CTXshadow {
    z-index: 2147483639;
    top: 0;
    right: 0;
    background: #000;
    opacity: .6;

}

#CTXbutton-menu, #CTXshadow {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    display: none;
}
#CTXbutton-menu {
    background: #fff;
    border-top: 1px solid #d7d7d7;
    width: 100%;
    max-height: 100%;
    z-index: 2147483640;
    /*overflow: scroll;*/
    -webkit-overflow-scrolling: touch;
}
.absalut{
    position:absolute;

}

#CTXbutton-a {
    display: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 3%;
    left: 50%;
    margin-left: -9%;
    width: 18%;
    z-index: 2147483638;
    border: none!important;
}
@media (max-width: 766px) {
    #CTXbutton-a.showed {
        display: block;
    }
}
.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}