@charset "utf-8";
/* CSS Document */

/*@import url("/templates/header_footer.css");*/

BODY{
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    width: 100%;
    color: #5c5c5c;
    text-align: center;
    min-width: 1000px;
}

A IMG {
	border: none;
}

A{
	color: #006fae;
	text-decoration: underline;
	outline: none;
}
A:hover{
	text-decoration: none;
}

H1{
	font-weight:normal;
	margin-bottom:6px;
	text-align: left;
    color: #212121;
    font-size: 31px;
    letter-spacing: -0.02em;
    margin-top: 15px;
    line-height: 30px;
}

H1 a{
	text-decoration:none;
}

H2{
	font-size:18px;
	font-weight:normal;
	margin-bottom: 6px;
	margin-top: 0px;
	text-align: left;
    color: #212121;
}


H3, .announce{
    line-height: 20px;
    margin-top: 13px;
    font-weight: normal;
    color: #7F7F7F;
    font-size: 19px;
	min-height: 3em;
}

.announce,
P.announce{
    clear: both;
    padding-top: 13px;
    margin-top: 0px;
}

BLOCKQUOTE {
	margin-left: 1em;
	padding-left: 1em;
	border-left:1px solid #cccac7;
}

UL{
    margin: 0px;
    padding: 0px;
}

P{
   margin: 0 0 10px 0;
}

/**
служебные классы
*/
.clearBox{
	overflow: hidden;
	zoom: 1;
}

#page_header{
    overflow: hidden;
	zoom: 1;
}

#page_header .logo A{
    color: #008DD5;
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    text-decoration: none;
}

#page_header .user_block{
    float: right;
}

#page_content_area{
    min-height:400px;
    overflow: hidden;
	zoom: 1;
}

#page_left_menu{
    float: left;
    width: 220px;
    min-height: 300px;
}

/*********************/

#page_body{
    position: relative;
    z-index: 2;
}

.page_top .page_center,
.page_under_top .page_center,
.page_over_content .page_center,
.page_active_areas .page_center,
#page_footer .page_center,
#page_content_area .page_center,
.page_title .page_center,
.page_under_title .page_center{
    margin: 0px auto;
    width: 980px;
    text-align: left;
}

.page_center_bg{
    width: 100%;
}

.link_with_pin{
    padding-right: 16px;
    background: url('/images/sapsan/rarr.gif') no-repeat right;
    float: left;
}

.link_with_pin .link{
    margin-left: 10px;
    padding-left: 20px;
    background: url('/images/sapsan/pin.gif') no-repeat left;
}

.link_with_pin A:HOVER{
    color: #30a9ff;
    text-decoration: underline;
}

.hidden_text{
    display: none;
}


/*самая верхняя часть*/
.page_top{
    height: 113px;
    background: url('https://russiantour.com/images/sapsan/page_top.gif') repeat-x;
}

.page_top .logo{
    margin-top: 8px;
    margin-left: 3px;
    float: left;
    width: 252px;
    position: relative;
}

.page_top .logo .rgd{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 109px;
    height: 18px;
    background: url('/img/design/rgd.png') no-repeat;
    margin-top: 10px;
}

.page_top .right{
    float: right;
    height: 113px;
    width: 687px;
}

.page_top .right .contacts{
    margin-top: 13px;
    margin-left: 7px;
}

.page_top .right .contacts .button{
    float: left;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    background: url('/images/sapsan/simple_button_left.gif') no-repeat left;
    padding-left: 5px;
    color: #7f7f7f;
    text-decoration: none;
}

.page_top .right .contacts .button.active{
    cursor: default;
}

.page_top .right .contacts .button.online{
    background: none;
    padding-left: 0px;
}

.page_top .right .contacts .button.phone{
    margin-left: 0px;
}

.page_top .right .contacts .right_plashka{
    background: url('/images/sapsan/simple_button_right.gif') no-repeat right;
    width: 5px;
    height: 25px;
    float: left;
}

.page_top .right .contacts .button .wrap{
    background: url('/images/sapsan/simple_button_bg.gif') repeat-x;
    height: 25px;
    position: relative;
    float: left;
    width: 16px;
}

.page_top .right .contacts .button .inner{
    line-height: 20px;
    position: absolute;
    left: 0px;
    white-space: nowrap;
    top: 0px;
    padding-top: 2px;
}

.page_top .right .contacts .button.phone .inner{
    background: url('/images/sapsan/phone.gif') no-repeat 4px 6px;
}

.page_top .right .contacts .button .title{
    margin-left: 21px;
    color: #7f7f7f;
    font-size: 12px;
    font-weight: normal;
}

.page_top .right .contacts .button .text{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #4a5054;
}

.page_top .right .contacts .button .text A{
    text-decoration: none;
}

.page_top .right .contacts .button.icq .text{
    color: #006fae;
}

.page_top .right .contacts .button.phone .wrap{
    width: 405px;
}

.page_top .right .contacts .button.phone .inner .text{
    margin: 5px 0px 0px 87px;
    list-style-type: none;
    width: 317px;
    position: relative;
    right: 0;
    top: -25px;
}

.page_top .right .contacts .button.phone .text LI{
    float: left;
    margin-left: 2px;
}

.page_top .right .contacts .button .text SPAN{
    color: #7f7f7f;
    margin-left: 5px;
}

.page_top .right .contacts .button.mail .inner{
    background: url('/images/sapsan/simple_button_mail.gif') no-repeat 2px 8px;
}

.page_top .right .contacts .button.icq .inner{
    background: url('/images/sapsan/simple_button_icq.gif') no-repeat 1px 5px;
}

.page_top .right .contacts .button.house .inner{
    background: url('/images/sapsan/simple_button_house.gif') no-repeat 3px 5px;
}

.page_top .right .contacts .button.skype .inner{
    background: url('/images/sapsan/simple_button_skype.gif') no-repeat 1px 5px;
}

.tablo_schedule{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 484px;
    background: url('/images/sapsan/tablo.png') no-repeat;
}

#page_content_area{
    background-color: #eceae8;
}

/*футэр*/
#page_footer{
    background-color: #01294f;
    border-top: 4px solid #294764;
    padding-top: 35px;
    color: #889eb4;
}

#page_footer .left{
    float: left;
    width: 464px;
    margin-left: 2px;
}

#page_footer .right{
    float: right;
}

#page_footer .top{
    height: 91px;
    background: url('/images/sapsan/ask.jpg') no-repeat;
}

#page_footer .top .button{
    float: right;
    width: 195px;
    height: 63px;
    margin-right: 18px;
    margin-top: 17px;
    background: url('/images/sapsan/buy_ticket_bottom_active.png') no-repeat left;
}

#page_footer .top .button:HOVER IMG{
    display: none;
}

#page_footer .bottom_menu{
    margin-top: -5px;
    list-style-type: none;
    position: relative;
    left: -15px; /* == #page_footer .bottom_menu LI A {margin-left}*/
    height: 1%;
	width:466px;
}

#page_footer .bottom_menu LI{
    float: left;
}

#page_footer .bottom_menu LI A{
    font-size: 19px;
    color: #58b7f9;
    padding-left: 20px;
    margin-left: 15px;
    line-height: 28px;
    background: url(/images/sapsan/pin_dark.png) no-repeat 0px 5px;
}

#page_footer .bottom_menu LI A:HOVER{
    color: #b2ddfe;
    text-decoration: underline;
}

#page_footer .logos{
    margin-top: 21px;
    margin-bottom: 30px;
    position: relative;
    left: -1px;
}

#page_footer .logos .rus_tur{
    width: 100px;
    height: 54px;
    background: url('/images/sapsan/rus_tur.png') no-repeat;
    float: left;
    margin-top: 3px;
}

#page_footer .logos .stamp{
    width: 63px;
    height: 64px;
    background: url('/images/sapsan/xz.png') no-repeat;
    float: left;
    margin-left: 15px;
}

#page_footer .logos .copyrights{
    color: #889eb4;
    float: left;
    margin-left: 17px;
    margin-top: 9px;
    width: 235px;
    line-height: 14px;
}

#page_footer .logos .copyrights .copy{
    color: #bdd0e3;
}

#page_footer .logos .page_counter{
    margin-top: 10px;
    float: right;
}

#page_footer .logos .page_counter A IMG{
    width: 15px;
    height: 15px;
}

#page_footer .right{
    position: relative;
}

#page_footer .right .title{
    color: white;
    float: left;
}

#page_footer .right .cons{
    float: right;
    font-weight: bold;
    width: 150px;
}

#page_footer .right .cons .text{
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

#page_footer .right .cons .button{
    float: right;
}

#page_footer .right INPUT,
#page_footer .right TEXTAREA{
    width: 367px;
    border: #012140;
    padding-left: 3px;
    padding-right: 3px;
    font-family: MS Shell Dlg, Arial;
    font-size: 13px;
}

#page_footer .right INPUT{
    height: 25px;
}

#page_footer .right TEXTAREA{
    height: 75px;
}

#page_footer .right TD{
    vertical-align: top;
}

#page_footer .right .with_line TD{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #21415f;
    color: #889eb4;
}

#page_footer .right .with_line .kod .captcha{
    vertical-align: top;
    height: 27px;
    border-left: 1px solid #a9abaa;
}

#page_footer .right .with_line .kod .change_captcha{
    margin-left: 10px;
    border-bottom: 1px dashed #52aeef;
    text-decoration: none;
    color: #52aeef;
}

#page_footer .right .with_line .kod .change_captcha:HOVER{
    color: #b2ddfe;
    border-bottom: 1px dashed #b2ddfe;
    text-decoration: none;
}

#page_footer .right .with_line TD.left_col{
    padding-right: 5px;
    padding-top: 10px;
}

#page_footer .right .kod INPUT{
    width: 124px;
}

#page_footer .right .send .button{
    cursor: pointer;
    width: 103px;
    height: 38px;
    margin-top: 5px;
    background: url('img/design/main/send_active.png') no-repeat left;
    display: block;
}

#page_footer .right .send .button:HOVER IMG{
    display: none;
}

/*************************/
.left_page_col{
    float: left;
    margin-left: 4px;
    width: 258px;
    background: url('/images/sapsan/left_menu_s_bg.gif') repeat-y right;
}

.left_page_col .wrap2{
    background: url('/images/sapsan/left_menu_s_bg_top.gif') no-repeat right top;
}

.left_page_col .wrap3{
    background: url('/images/sapsan/left_menu_s_bg_bottom.gif') no-repeat right bottom;
}

.left_menu{
    margin-top: 36px;
    border-top: 1px solid #d8d6d4;
    border-bottom: 1px solid #f8f7f7;
    background: url('/images/sapsan/left_menu_hover.png') repeat-y right top;
    list-style: none;
}

.left_menu LI{
    background: #ECEAE8 url('/images/sapsan/left_menu_s_bg.gif') repeat-y right;
    border-top: 1px solid #f8f7f7;
    border-bottom: 1px solid #d8d6d4;
}

.left_menu LI A{
    padding: 7px 7px 7px 21px;
    background: url('/images/sapsan/pin.gif') no-repeat left;
    text-decoration: none;
    color: #006fae;
    font-size: 14px;
    display: block;
    margin-left: 7px;
}

.left_menu LI.hover,
.left_menu LI.active{
    background: none;
    border: 0px none;
}

.left_menu LI.hover A,
.left_menu LI.active A{
    background-image: url('/images/sapsan/lift_menu_hover_point.png');
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.left_menu LI A:HOVER{
    text-decoration: none;
}

.left_menu LI A{
    color: #006fae;
    font-size: 14px;
}

.left_page_col .banners{
    margin-top: 0px;
    margin-right: 1px;
    min-height: 160px;
}

.left_page_col .banners UL{
    list-style: none;
}

.left_page_col .banners LI{
    padding-top: 15px;
    padding-bottom: 15px;
}

.left_page_col .banners LI.first{
    border-bottom: 1px solid #D1D0CB;
}

.left_page_col .banners LI.last{
    border-top: 1px solid white;
}

#page_content_area .right_content{
    width: 677px;
    margin-left: 300px;
}

.page_title{
    background: url('/images/sapsan/blue_bg.png') repeat-x;
}

.page_title .page_center{
    height: 92px;
    background: url('/images/sapsan/blue_blik.jpg') no-repeat 260px 0px;
}

.page_title .title_image {
  background: url('/images/sapsan/title.png') no-repeat left top;
  width: 315px;
}

.page_title .title_image{
    height: 35px;
    margin-left: 2px;
    margin-top: 29px;
    display: block;
}

/*статьи*/
#page_content_area .articles{
    border-left: 1px solid #dbd9d8;
    border-right: 1px solid #dbd9d8;
    border-bottom: 4px solid #a7a6a6;
    background: white url('/images/sapsan/blue_border.gif') repeat-x top;
    margin: 28px 0px 30px 2px;
    padding-bottom: 25px;
}

#page_content_area .articles H2.panel_title{
    background: url('/images/sapsan/blue_plashka.png') no-repeat left top;
    letter-spacing: -0.02em;
    padding: 5px 12px;
    color: white;
}

#page_content_area .articles .post{
    margin-left: 18px;
    margin-right: 20px;
}

#page_content_area .articles .post .text{
    line-height: 16px;
    padding-right: 20px;
}

#page_content_area .articles .link_with_pin{
    margin-top: 25px;
    margin-left: 18px;
}

#page_content_area .link_with_pin .link{
    margin-left: 0px;
    padding-left: 18px;
}

/**/
.page_under_top .info .bottom .button,
.pages_start_post .under_title .button,
.pages_start .under_title .button{
    width: 266px;
    height: 64px;
    float: left;
    background: url('/images/sapsan/buy_ticket_active.png') no-repeat left;
}

.page_under_top .info .bottom .button:HOVER IMG,
.pages_start_post .under_title .button:HOVER IMG,
.pages_start .under_title .button:HOVER IMG{
    display: none;
}

/*блок "вопросы и ответы"*/
#page_content_area .questions{
    /*height: 246px;*/
    border-bottom: 4px solid #a8a7a6;
    background: #e4e2dc url('/images/sapsan/q_bg.gif') repeat-x left top;
    position: relative;
    padding-right: 20px;
    margin-bottom: 30px;
}

#page_content_area .questions .panel_title{
    width: 176px;
    height: 34px;
    position: absolute;
    top: -33px;
    background: url('/images/sapsan/q_and_a.png') no-repeat left top;
}

#page_content_area .questions .inner{
    background: url('/images/sapsan/bg_20.png') no-repeat right 32px;
    padding: 23px 180px 20px 20px;
}

#page_content_area .questions .inner UL{
    list-style-type: none;
    border-bottom: 1px solid #d1d0cb;
    padding-bottom: 12px;
}

#page_content_area .questions .inner UL LI{
    float: left;
    width: 210px;
    /*height: 140px;*/
}

#page_content_area .questions .inner UL LI.first{
    margin-right: 15px;
}

#page_content_area .questions .inner UL LI .title,
.posts_press .item .title,
.posts_info .item .title,
.posts_about .item .title{
    padding-left: 22px;
    background: url('/images/sapsan/li_arrow.png') no-repeat 0px 2px;
    color: #006fae;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
}

.posts_press .item,
.posts_info .item,
.posts_about .item{
    display: block;
    text-decoration: none;
}

.pages_start .posts_press .item,
.pages_start .posts_about .item,
.pages_start .posts_info .item{
    background: #e4e2dc url('/img/design/info/post_bg.png') repeat-x;
    padding: 16px 12px 12px 12px;
}

.pages_start .posts_about .item{
    min-height: 55px;
}

.pages_start .posts_about .item P{
    display: inline;
}

.pages_start .posts_press .item p
.pages_start .posts_about .item p,
.pages_start .posts_info .item p{
	margin: 0 !important;
}

#page_content_area .questions .inner UL LI .title:HOVER,
.posts_press .item:HOVER .title,
.posts_info .item:HOVER .title,
.posts_about .item:HOVER .title{
    color: #30a9ff;
    text-decoration: none;
}

#page_content_area .questions .inner UL LI .text,
.posts_press .item .text,
.posts_info .item .text,
.posts_about .item .text{
    display: block;
    color: #808080;
    line-height: 16px;
    margin-top: 8px;
    text-decoration: none;
}

#page_content_area .questions .inner UL LI .arrow{
    color: white;
    font-size: 13px;
}

#page_content_area .questions .inner .links{
    clear: both;
    border-top: 1px solid white;
    padding-top: 15px;
}

#page_content_area .questions .inner .links .button{
    float: left;
    margin-right: 20px;
    width: 192px;
    height: 38px;
    background: url('/images/sapsan/all_questions_active.png') no-repeat left;
}

#page_content_area .questions .inner .links .button:HOVER IMG{
    display: none;
}

#page_content_area .questions .inner .links .link_with_pin{
    margin-top: 10px;
}

#page_content_area .right_content{
    padding-top: 1px;
}

/*конец блока "вопросы и ответы"*/

#page_content_area .right_content .articles{
    margin-left: 0px;
}

/*серая плашка с комментами*/
.pages_start .under_table,
.pages_start_post .under_table,
.map .under_table{
    padding: 9px 0px 10px 10px;
    background: url('/img/design/schedule/under_table_bg.gif') repeat-x left top;
    color: #e6e6e6;
    overflow: hidden;
    zoom: 1;
}

.pages_start .under_table,
.pages_start_post .under_table{
    margin-bottom: 60px;
}

.pages_start .under_table A,
.pages_start_post .under_table A,
.map .under_table A{
    color: white;
}

.pages_start .under_table .text,
.pages_start_post .under_table .text,
.map .under_table .text{
    padding-left: 20px;
    line-height: 15px;
    background: url('/img/design/schedule/red_star.png') no-repeat left 1px;
}

.page_under_title{
    background-color: #ECEAE8;
    position: relative;
    padding-top: 1px;
}

.page_under_title .routes-description{
    position: absolute;
    top: 20px;
    z-index: 5;
}

.pages_start .articles H1{
    margin-bottom: 6px;
    margin-top: 15px;
}

/*страницы с таблицей расписания и ценами*/
.pages_start H1{
    margin-bottom: 20px;
    margin-top: 35px;
}

.module_Shedule .pages_start H3,
.module_Prices .pages_start H3{
    width: 410px;
    margin-top: 0px;
    float: left;
    margin-bottom: 0px;
}

.pages_start .under_title{
    border-bottom: 1px solid #cccbc9;
    padding-bottom: 28px;
}

.pages_start .links{
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pages_start .links .link_with_image{
    float: left;
    line-height: 19px;
}

.pages_start .links .link_with_image.arrows{
    margin-left: 15px;
}

.pages_start .links .link_with_image .image{
    width: 18px;
    height: 19px;
    margin-right: 3px;
    float: left;
}

.pages_start TABLE{
    border-top: 4px solid #a7a6a6;
    border-left: 1px solid #d7d6d4;
    border-right: 1px solid #d7d6d4;
    width: 100%;
}

.pages_start THEAD{
    background: url('/img/design/schedule/table_head_bg.gif') repeat-x;
}

.pages_start TH{
    height: 46px;
    font-weight: bold;
    font-size: 14px
}

.pages_start TH A{
    text-decoration: none;
}

.pages_start TH.first{
    padding-left: 10px;
}

.pages_start TH.first,
.pages_start TD .period{
    font-weight: normal;
    font-size: 12px;
    color: #808080;
}

.pages_start TR.hover TD,
.pages_start .schedule_table TR.hover TD.active{
    background-color: #d3efff;
}

.schedule_table th 
{
	text-align:left;
}

.intext_button
{
}

.intext_button_active
{
	background: url("/images/sapsan/buy_ticket_active.png") no-repeat scroll left center transparent;
    float: right;
    height: 64px;
    width: 266px;
}

.pages_start TD{
    border-top: 1px solid #d7d6d4;
    background-color: white;
    font-weight: bold;
    color: #212121;
    font-size: 14px;
}

.pages_start TD.first{
    width: 140px;
    font-size: 12px;
}

.pages_start TD.with_star{
    background: white url('/img/design/schedule/red_star.png') no-repeat 37px 33px;
}

.pages_start TD IMG{
    position: relative;
    top: -3px;
}

.pages_start TD .train_number{
    color: #ec0e00;
    font-size: 20px;
    padding-right: 50px;
    background: url('/img/design/schedule/train.png') no-repeat right 3px;
}

.pages_start TD .route{
    color: #4a5054;
    font-weight: bold;
    margin-bottom: 5px;
}

.pages_start TD .train_number,
.pages_start TD .route,
.pages_start TD .period{
    margin-left: 10px;
}

.pages_start TD IMG.star{
    position: relative;
    top: 3px;
}

/*конец таблицы*/

.grey_block_right{
    background-color: #e2dfd9;
    float: right;
    width: 187px;
    padding: 15px 20px 17px;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #515151;
    font-size: 19px;
	line-height: 20px;
}

.bordered_image{
    padding: 7px;
    border: 1px solid #ededed;
    background-color: white;
}

.image_description{
    color: #808080;
    display: block;
    font-style: italic;
    width: 134px;
}

.pages_start_post H2,
.articles .text H2{
    margin-bottom: 18px;
    margin-top: 28px;
}

.clear{
    clear: both;
}

HR{
    border-color: #DFDFDF;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #DFDFDF;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.mceImage_with_description{
    float: left;
	margin-right: 11px;
    overflow: hidden;
    zoom: 1;
}

.news_post{
    padding: 10px 10px 10px 0px;
}

.news_post .date{
    width: 43px;
    height: 55px;
    float: left;
    background: url('/images/sapsan/date.png') no-repeat left top;
    text-align: center;
    margin-top: 4px;
}

.news_post .date .day{
    color: white;
    /*font-weight: bold;*/
    font-size: 19px;
    margin-top: 3px;
}

.news_post .date .month{
    color: #a1a0a0;
    margin-top: 1px;
}

.news .news_post .post_text{
    width: 405px;
    float: left;
    margin-left: 17px;
}

.news_post .post_text .text{
    color: #4a5562;
    line-height: 16px;
}

.post_text UL{
    margin-bottom: 15px;
    margin-left: 15px;
}

.bordered_table{
    border-top: 3px solid #aeaeae;
    border-bottom: 4px solid #aeaeae;
}

.bordered_table TD{
    border-top: 1px solid #d7d6d4;
    padding-left: 10px;
}

.blue_pin_menu{
    list-style-image: url('/images/sapsan/menu_pin.png');
    margin-left: 15px;
}

UL.blue_pin_menu{
    margin-bottom: 10px;
}

.grey_bold_text{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #606569;
}

.dark_bold_text{
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color: #212121;
}

#edit_post_form #text_id{
    width: 600px;
}


.left_page_col .yashare-auto-init{
    margin-top: 10px;
}
.page_top .right .top_menu{
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    list-style-type: none;
    margin-top: 13px;
    padding: 0 1px 0 0;
    height: 62px;
}

.page_top .right .top_menu.bordered{
    background: url('/images/sapsan/active_border.png') no-repeat right center;
}

.page_top .right .top_menu LI{
    text-align: center;
    float: left;
    position: relative;
}

.page_top .right .top_menu LI .wrap{
    background: url('/images/sapsan/border.gif') no-repeat left center;
}

.page_top .right .top_menu LI.first .wrap{
    background: none;
}

.page_top .right .top_menu LI.bordered .wrap,
.page_top .right .top_menu LI.active .wrap,
.page_top .right .top_menu LI.active_next .wrap{
    background: url('/images/sapsan/active_border.png') no-repeat left center;
}

.page_top .right .top_menu LI A{
    color: #5c5a59;
    text-decoration: none;
    display: block;
    height: 62px;
}

.page_top .right .top_menu LI.active,
.page_top .right .top_menu LI.active.hover{
    background: url('/images/sapsan/active_bg.png') repeat-x left center;
}

.page_top .right .top_menu LI.hover{
    background: url('/images/sapsan/hover_bg.png') repeat-x left center;
}

.page_top .right .top_menu LI A IMG{
    margin-top: 24px;
}

.page_top .right .top_menu LI.hover A IMG,
.page_top .right .top_menu LI.active A IMG{
    display: none;
}

.page_top .right .top_menu LI.first{
    margin-left: 0px;
    padding-left: 0px;
    border: 0px none;
}

.page_top .right .top_menu .bottom{
    display: none;
}

.page_top .right .top_menu .active .bottom{
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0px;
    height: 16px;
}

.page_top .right .top_menu .bottom{
    width: 100%;
}

/*****Картинки для ссылок*****/

/*О поезде*/
.page_top .right .top_menu .about A{
    background: url('/images/sapsan/about_hover.png') no-repeat center center;
    width: 74px;
}

.page_top .right .top_menu .about.active A{
    background: url('/images/sapsan/about_active.png') no-repeat center center;
}

.page_top .right .top_menu .about .bottom{
    background: url('/images/sapsan/about_bottom.png') no-repeat center center;
}

/*Расписание*/
.page_top .right .top_menu .schedule A{
    background: url('/images/sapsan/schedule_hover.png') no-repeat center center;
    width: 96px;
}

.page_top .right .top_menu .schedule.active A{
    background: url('/images/sapsan/schedule_active.png') no-repeat center center;
}

.page_top .right .top_menu .schedule .bottom{
    background: url('/images/sapsan/schedule_bottom.png') no-repeat center center;
}

/*Стоимость билетов*/
.page_top .right .top_menu .cost A{
    background: url('/images/sapsan/cost_hover.png') no-repeat center center;
    width: 143px;
}

.page_top .right .top_menu .cost.active A{
    background: url('/images/sapsan/cost_active.png') no-repeat center center;
}

.page_top .right .top_menu .cost .bottom{
    background: url('/images/sapsan/cost_bottom.png') no-repeat center center;
}

/*Купить билет*/
.page_top .right .top_menu .buy A{
    background: url('/images/sapsan/buy.png') no-repeat center center;
    width: 106px;
}

.page_top .right .top_menu .buy A{
    background: url('/images/sapsan/buy_hover.png') no-repeat center center;
}

.page_top .right .top_menu .buy.active A{
    background: url('/images/sapsan/buy.png') no-repeat center center;
}

.page_top .right .top_menu .buy .bottom{
    
}

/*Услуги*/
.page_top .right .top_menu .services A{
    background: url('/images/sapsan/uslugi_hover.png') no-repeat center center;
    width: 62px;
}

.page_top .right .top_menu .services.active A{
    background: url('/images/sapsan/uslugi_active.png') no-repeat center center;
}

.page_top .right .top_menu .services .bottom{
    background: url('/images/sapsan/uslugi_bottom.png') no-repeat center center;
}

/*Вагоны*/
.page_top .right .top_menu .truck A{
    background: url('/images/sapsan/wagons_hover.png') no-repeat center center;
    width: 67px;
}

.page_top .right .top_menu .truck.active A{
    background: url('/images/sapsan/wagons_active.png') no-repeat center center;
}

.page_top .right .top_menu .truck .bottom{
    background: url('/images/sapsan/wagons_bottom.png') no-repeat center center;
}

/*Станции*/
.page_top .right .top_menu .stations A{
    background: url('/images/sapsan/stations_hover.png') no-repeat center center;
    width: 72px;
}

.page_top .right .top_menu .stations.active A{
    background: url('/images/sapsan/stations_active.png') no-repeat center center;
}

.page_top .right .top_menu .stations .bottom{
    background: url('/images/sapsan/stations_bottom.png') no-repeat center center;
}

/*Справка*/
.page_top .right .top_menu .info A{
    background: url('/images/sapsan/info_hover.png') no-repeat center center;
    width: 66px;
}

.page_top .right .top_menu .info.active A{
    background: url('/images/sapsan/info_active.png') no-repeat center center;
}

.page_top .right .top_menu .info .bottom{
    background: url('/images/sapsan/info_bottom.png') no-repeat center center;
}
