.page_title .title_image{
    background: url('/img/design/prices/title.png') no-repeat left top;
    width: 315px;
}

#page_content_area .page_center{
    position: relative;
    overflow: hidden;
}

#page_content_area .right_content{
    padding-top: 418px;
    margin-right: 1px;
    background: url('/img/design/schedule/bg_tablo.png') no-repeat right top;
}

#page_content_area .right_content.prices{
    background: none;
    padding-top: 0px;
}

.right_content.prices .pages_start H3{
    margin-top: 20px;
    float: left;
    margin-bottom: 0px;
	padding-right: 20px;
    width: 390px;
}

.pages_start .under_title .button{
    margin-top: 20px;
}

#page_content_area .tablo_schedule{
    right: 196px;
    top: 52px;
}

#page_content_area .right_content .questions .inner{
     background: url("/img/design/prices/prices.png") no-repeat right 32px; 
}

.pages_start TH{
    color: #5d5d5d;
    text-transform: uppercase;
    padding-left: 20px;
}

.pages_start TH.first{
    text-transform: capitalize;
}

.pages_start TH.weekend{
    color: #ec0e00;
}

.pages_start TD{
    vertical-align: middle;
    text-align: center;
    height: 50px;
}

.pages_start TD.type{
    font-weight: normal;
    color: #808080;
    text-align: left;
    font-size: 12px;
}

.pages_start TD.first{
    width: 140px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.pages_start TD.econom{
    border-top: 1px dotted #a7bbc6;
}

.pages_start TD.first .route{
    padding-right: 50px;
}