.tablo_schedule .direction{
    width: 476px;
    height: 39px;
    position: relative;
    margin-left: 4px;
    margin-top: 6px;
}

.tablo_schedule .direction-first{
    margin-top: 48px;
}

.tablo_schedule .direction .slide_box{
    height: 78px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.tablo_schedule .direction .active{
    height: 39px;
    position: relative;
    background: url('/img/design/main/tablo/active_bg.png') no-repeat 0px 0px;
    display: block;
}

.tablo_schedule .direction .active .from_to{
    float: left;
    width: 204px;
    height: 13px;
    margin-top: 15px;
    margin-left: 13px;
    text-align: center;
    line-height: 13px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tablo_schedule .direction .active .from_to .dash{
    padding-left: 6px;
    background: url('/img/design/main/tablo/tire_active.gif') no-repeat 0px -2px;
}

.tablo_schedule .direction .active .from_to .from.nov,
.tablo_schedule .direction .active .from_to .to.nov{
    padding-left: 82px;
    background: url('/img/design/main/tablo/novg_active.png') no-repeat;
}

.tablo_schedule .direction .active .from_to .from.spb,
.tablo_schedule .direction .active .from_to .to.spb{
    padding-left: 86px;
    background: url('/img/design/main/tablo/spb_active.png') no-repeat;
}

.tablo_schedule .direction .active .from_to .from.msk,
.tablo_schedule .direction .active .from_to .to.msk{
    padding-left: 50px;
    background: url('/img/design/main/tablo/mosk_active.png') no-repeat 1px 0px;
}

.tablo_schedule .direction .active .schedule_trains,
.tablo_schedule .direction .active .prices{
    float: left;
    margin-left: 275px;
    margin-top: 8px;
    display: inline;
}

.tablo_schedule .direction .active .schedule_trains{
    width: 155px;
    height: 26px;
    background: url('/img/design/main/tablo/schedule_trains_active.png') no-repeat;
}

.tablo_schedule .direction .active .prices{
    width: 145px;
    height: 24px;
    background: url('/img/design/main/tablo/ticket_cost_active.png') no-repeat;
}

.tablo_schedule .direction .active .schedule_trains.hover IMG,
.tablo_schedule .direction .active .schedule_trains:HOVER IMG,
.tablo_schedule .direction .active .prices.hover IMG,
.tablo_schedule .direction .active .prices:HOVER IMG{
    display: none;
}

.tablo_schedule .direction .active .menu{
    float: left;
    list-style-type: none;
    margin-top: 9px;
    margin-left: 220px;
    display: inline;
}

.tablo_schedule .direction .active .menu LI{
    float: left;
    padding-left: 6px;
    background: url('/img/design/main/tablo/pin.png') no-repeat left top;
}

.tablo_schedule .direction .active .menu LI A{
    display: block;
}

.tablo_schedule .direction .active .menu LI A:HOVER IMG{
    display: none;
}

.tablo_schedule .direction .active .menu LI A.schedule{
    background: url('/img/design/main/tablo/schedule_active.png') no-repeat left;
    width: 90px;
    height: 23px;
}

.tablo_schedule .direction .active .menu LI A.cost{
    background: url('/img/design/main/tablo/prices_active.png') no-repeat left;
    width: 43px;
    height: 23px;
}

.tablo_schedule .direction .active .menu LI A.buy{
    background: url('/img/design/main/tablo/buy_active.png') no-repeat left;
    width: 103px;
    height: 23px;
}

.tablo_schedule .direction .active .menu LI.first{
    background: none;
    padding-left: 0px;
}

.tablo_schedule .direction .not_active{
    height: 39px;
    background: url('/img/design/main/tablo/bg.png') no-repeat center;
}

.tablo_schedule .direction .not_active .from,
.tablo_schedule .direction .not_active .to{
    background: url(/img/design/main/tablo/one_bg.png) no-repeat center;
}

.tablo_schedule .direction .not_active .from{
    float: left;
}

.tablo_schedule .direction .not_active .to{
    float: right;
}

.tablo_schedule .direction .not_active .city_name{
    height: 39px;
    width: 223px;
}

.tablo_schedule .direction .not_active .msk .city_name{
    background: url('/img/design/main/tablo/mosk.png') no-repeat center;
}

.tablo_schedule .direction .not_active .spb .city_name{
    background: url('/img/design/main/tablo/spb.png') no-repeat center;
}

.tablo_schedule .direction .not_active .nov .city_name{
    background: url('/img/design/main/tablo/novg.png') no-repeat center;
}